﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <span>This is the textbox on the page</span>
    <input type="text" ng-model="commentText" />
    <br />
    <span>This is the textbox on the directive</span>
    <controls-directive giventext="commentText"></controls-directive>
    <hr />
    <hr />
    <a><mouse-clicked ebook>Game of thrones (click me)</mouse-clicked></a><br />
    <a><mouse-clicked magazine>PC World (click me)</mouse-clicked></a>
</body>
</html>
