﻿
<div class="familyImg1">
    <div class="headsection_image">
        -->
        <header class="header encase df aife">

            <div class="placeholder">
                <br>
            </div>
            <a href="#" class="header__logo  header__logo__color">
                <img src="../img/LOGO FINAL TRUDOVA.png" style="width: 85%;height: 151%;margin-top: -9px;" />
            </a>

            <div class="df aic mla hide-xs" hide-xs="">
                <div class="header__cta df fw aife jcfe">

                    <span id="maincontent_header_ctaphone" class="header__cta__phone">1-866-671-3184</span>
                    <span class="header__cta__bar fw-sb">|</span>
                </div>
                <div class="header__search pr">
                    <div class="header__search__bg df aic jcfe">
                        <input class="header__search__input fn" type="text" value="">
                        <button class="header__search__btn" type="button" name="button"></button>
                    </div>
                </div>
            </div>
            <a href="tel:1-866-433-8186" id="maincontent_header_ctaphonemobile">
                <div class="mbi-ico hide show-xs" hide="" show-xs=""></div>
            </a>
        </header>

        <div class="encase bnr bnr--home hide-xs" hide-xs="">
            <div class="bnr--home__dsk pr" style="height: 68px">
                <div class="bnr--home__copy">
                </div>

            </div>
        </div>
        <div class="qtbar qtbar--home dfw pr">
            <div class="qtbar__controls dfw od-xs-3" style="width: 42%;height: 159px; margin-top:-9%">
                <div class="qtbar__control dfc fdr-xs fw-xs p-xs pr" style="margin-left: -9%">
                    <div class="qtbar__control__title df aifs jcc od-xs-1 responsiveControlTitle">
                        <span class="qtbar__currency" style="font-size: 28px">$</span>
                        <span class="qtbar__big qtbarResponsive" style="font-size: 29px">{{policyValue}}</span>
                    </div>
                    <div class="qtbar__control__slide od-xs-3 br-xs" style="width: 120%">
                        <md-slider step="1" ng-model="policyValue" flex min="1000" max="100000" step="10" aria-label="Policy Value" id="policy__value" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-valuemin="1" aria-valuenow="3" aria-valuemax="9" aria-invalid="false"><div class="md-slider-wrapper" tabindex="0" role="slider" style="touch-action: pan-x;"><div class="md-slider-content"><div class="md-track-container"><div class="md-track"></div><div class="md-track md-track-fill" style="width: 25%;"></div><div class="md-track-ticks"></div></div><div class="md-thumb-container" style="left: 25%;"><div class="md-thumb"></div><div class="md-focus-thumb"></div><div class="md-focus-ring"></div><div class="md-sign"><span class="md-thumb-text">3</span></div><div class="md-disabled-thumb"></div></div></div></div></md-slider>
                    </div>
                    <div class="qtbar__control__chain first df jcc od-xs-2">
                        <span class="bdr-xs">Choose Policy Amount</span>
                        <div class="qtbar__help df fn pr">
                            <span class="qtbar__modal__opener dfm cp" ng-click="modal_1_open = !modal_1_open" role="button" tabindex="0">?</span>

                        </div>
                    </div>
                </div>
                <div class="qtbar__control dfc fdr-xs fw-xs p-xs pr qtbar__control__pt">
                    <div class="qtbar__control__title df aifs jcc od-xs-1">
                        <span class="qtbar__big " style="font-size: 28px">{{policyTerm}}</span>
                        <span class="qtbar__big ml5" style="font-size: 29px">Years</span>
                    </div>
                    <div class="qtbar__control__slide od-xs-3 br-xs" style="margin-left: -13%; width:127%">
                        <md-slider step="5" ng-model="policyTerm" min="10" max="40" aria-label="Policy Term" id="policy__term" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-valuemin="10" aria-valuenow="20" aria-valuemax="30" aria-invalid="false"><div class="md-slider-wrapper" tabindex="0" role="slider" style="touch-action: pan-x;"><div class="md-slider-content"><div class="md-track-container"><div class="md-track"></div><div class="md-track md-track-fill" style="width: 50%;"></div><div class="md-track-ticks"></div></div><div class="md-thumb-container" style="left: 50%;"><div class="md-thumb"></div><div class="md-focus-thumb"></div><div class="md-focus-ring"></div><div class="md-sign"><span class="md-thumb-text">20</span></div><div class="md-disabled-thumb"></div></div></div></div></md-slider>
                    </div>
                    <div class="qtbar__control__chain second df jcc od-xs-2">
                        <span class="bdr-xs">Choose Policy value</span>
                        <div class="qtbar__help dfm fn pr">
                            <span class="qtbar__modal__opener dfm cp" ng-click="modal_2_open = !modal_2_open" role="button" tabindex="0">?</span>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="basicInfo__header">
    <div class="">

        <h2 style="font-size: 1.5rem;margin-left: 23%;margin-top: 1%;">  Complete this form to see how low your rates could be.</h2>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <!--      Wizard container        -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="green" id="wizardProfile">
                        <form action="" method="">
                            <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                            <div class="wizard-header">
                                <h3 class="wizard-title">
                                   
                                </h3>
                                <h5></h5>
                            </div>
                            <div class="wizard-navigation">
                                <ul>
                                    <li><a href="#about" data-toggle="tab">step1</a></li>
                                    <li><a href="#account" data-toggle="tab">step2</a></li>
                                    <li><a href="#address" data-toggle="tab">step3</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane" id="about">
                                  
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-md-offset-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-location-arrow fa-2x"></i>
                                                    </div>
                                                    <input class="form-control mask validate invalid valid" name="zipcode" type="text" maxlength="6" pattern="[0-9]{6}" placeholder="Enter Zip" required="" aria-required="true" aria-invalid="false"><span></span>
                                                </div><span class="material-input"></span>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <button class="button btn-next positive btn-lg plate-submit btn1" data-operation="hinet-zip" data-reference="true" type="button"><span>Continue</span><div class="ripple-container"></div></button>
                                            <!--<input type='button' class='button btn-next btn-lg plate-submit btn1' name='next' value='Continue' />-->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="account">
                                    <h4 class="info-text"> What is your gender? </h4>
                                    
                                        <div class="row">
                                            <div class="col-xs-6 col-md-4 col-md-offset-2">
                                                <button class="button btn-next positive btn-lg plate-submit btn1" data-operation="update_gender" data-value="M" type="button">
                                                    <i class="fa fa-male" style="font-size:2em;"></i>
                                                </button>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <button class="button btn-next positive btn-lg plate-submit btn1" data-operation="update_gender" data-value="F" type="button">
                                                    <i class="fa fa-female" style="font-size:2em;"></i>
                                                </button>
                                            </div>
                                        </div>
                                   
                                </div>
                                <div class="tab-pane" id="address">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user fa-2x"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">First Name <small>(required)</small></label>
                                                        <input name="firstname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        
                                                        <i class="fa fa-user fa-2x"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Last Name <small>(required)</small></label>
                                                        <input name="lastname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                       
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope fa-2x"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email <small>(required)</small></label>
                                                        <input name="Email" type="email" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-mobile fa-2x"></i>
                                                    </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Mobile <small>(required)</small></label>
                                                        <input name="Mobile " type="text" class="form-control" maxlength="10" pattern="[0-9]{10}">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4">
                                            <a href="#viewquotes"><input type='button' class='button btn-finish btn-fill btn1' name='finish' value='Submit' /></a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='' />
                                    <input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                                </div>
                                <div class="">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>-->
                        </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
        </div><!-- end row -->
    </div> <!--  big container -->
       
    </div>



<script>

    /*!
 * jQuery twitter bootstrap wizard plugin
 * Examples and documentation at: http://github.com/VinceG/twitter-bootstrap-wizard
 * version 1.0
 * Requires jQuery v1.3.2 or later
 * Supports Bootstrap 2.2.x, 2.3.x, 3.0
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 * Authors: Vadim Vincent Gabriel (http://vadimg.com), Jason Gill (www.gilluminate.com)
 */
    ; (function ($) {
        var bootstrapWizardCreate = function (element, options) {
            var element = $(element);
            var obj = this;

            // selector skips any 'li' elements that do not contain a child with a tab data-toggle
            var baseItemSelector = 'li:has([data-toggle="tab"])';

            // Merge options with defaults
            var $settings = $.extend({}, $.fn.bootstrapWizard.defaults, options);
            var $activeTab = null;
            var $navigation = null;

            this.rebindClick = function (selector, fn) {
                selector.unbind('click', fn).bind('click', fn);
            }

            this.fixNavigationButtons = function () {
                // Get the current active tab
                if (!$activeTab.length) {
                    // Select first one
                    $navigation.find('a:first').tab('show');
                    $activeTab = $navigation.find(baseItemSelector + ':first');
                }

                // See if we're currently in the first/last then disable the previous and last buttons
                $($settings.previousSelector, element).toggleClass('disabled', (obj.firstIndex() >= obj.currentIndex()));
                $($settings.nextSelector, element).toggleClass('disabled', (obj.currentIndex() >= obj.navigationLength()));

                // We are unbinding and rebinding to ensure single firing and no double-click errors
                obj.rebindClick($($settings.nextSelector, element), obj.next);
                obj.rebindClick($($settings.previousSelector, element), obj.previous);
                obj.rebindClick($($settings.lastSelector, element), obj.last);
                obj.rebindClick($($settings.firstSelector, element), obj.first);

                if ($settings.onTabShow && typeof $settings.onTabShow === 'function' && $settings.onTabShow($activeTab, $navigation, obj.currentIndex()) === false) {
                    return false;
                }
            };

            this.next = function (e) {
               // debugger;
                // If we clicked the last then dont activate this
                if (element.hasClass('last')) {
                    return false;
                }

                if ($settings.onNext && typeof $settings.onNext === 'function' && $settings.onNext($activeTab, $navigation, obj.nextIndex()) === false) {
                    return false;
                }

                // Did we click the last button
                $index = obj.nextIndex();
                if ($index > obj.navigationLength()) {
                } else {
                    $navigation.find(baseItemSelector + ':eq(' + $index + ') a').tab('show');
                }
            };

            this.previous = function (e) {

                // If we clicked the first then dont activate this
                if (element.hasClass('first')) {
                    return false;
                }

                if ($settings.onPrevious && typeof $settings.onPrevious === 'function' && $settings.onPrevious($activeTab, $navigation, obj.previousIndex()) === false) {
                    return false;
                }

                $index = obj.previousIndex();
                if ($index < 0) {
                } else {
                    $navigation.find(baseItemSelector + ':eq(' + $index + ') a').tab('show');
                }
            };

            this.first = function (e) {
                if ($settings.onFirst && typeof $settings.onFirst === 'function' && $settings.onFirst($activeTab, $navigation, obj.firstIndex()) === false) {
                    return false;
                }

                // If the element is disabled then we won't do anything
                if (element.hasClass('disabled')) {
                    return false;
                }
                $navigation.find(baseItemSelector + ':eq(0) a').tab('show');

            };
            this.last = function (e) {
                if ($settings.onLast && typeof $settings.onLast === 'function' && $settings.onLast($activeTab, $navigation, obj.lastIndex()) === false) {
                    return false;
                }

                // If the element is disabled then we won't do anything
                if (element.hasClass('disabled')) {
                    return false;
                }
                $navigation.find(baseItemSelector + ':eq(' + obj.navigationLength() + ') a').tab('show');
            };
            this.currentIndex = function () {
                return $navigation.find(baseItemSelector).index($activeTab);
            };
            this.firstIndex = function () {
                return 0;
            };
            this.lastIndex = function () {
                return obj.navigationLength();
            };
            this.getIndex = function (e) {
                return $navigation.find(baseItemSelector).index(e);
            };
            this.nextIndex = function () {
                return $navigation.find(baseItemSelector).index($activeTab) + 1;
            };
            this.previousIndex = function () {
                return $navigation.find(baseItemSelector).index($activeTab) - 1;
            };
            this.navigationLength = function () {
                return $navigation.find(baseItemSelector).length - 1;
            };
            this.activeTab = function () {
                return $activeTab;
            };
            this.nextTab = function () {
                return $navigation.find(baseItemSelector + ':eq(' + (obj.currentIndex() + 1) + ')').length ? $navigation.find(baseItemSelector + ':eq(' + (obj.currentIndex() + 1) + ')') : null;
            };
            this.previousTab = function () {
                if (obj.currentIndex() <= 0) {
                    return null;
                }
                return $navigation.find(baseItemSelector + ':eq(' + parseInt(obj.currentIndex() - 1) + ')');
            };
            this.show = function (index) {
                if (isNaN(index)) {
                    return element.find(baseItemSelector + ' a[href=#' + index + ']').tab('show');
                }
                else {
                    return element.find(baseItemSelector + ':eq(' + index + ') a').tab('show');
                }
            };
            this.disable = function (index) {
                $navigation.find(baseItemSelector + ':eq(' + index + ')').addClass('disabled');
            };
            this.enable = function (index) {
                $navigation.find(baseItemSelector + ':eq(' + index + ')').removeClass('disabled');
            };
            this.hide = function (index) {
                $navigation.find(baseItemSelector + ':eq(' + index + ')').hide();
            };
            this.display = function (index) {
                $navigation.find(baseItemSelector + ':eq(' + index + ')').show();
            };
            this.remove = function (args) {
                var $index = args[0];
                var $removeTabPane = typeof args[1] != 'undefined' ? args[1] : false;
                var $item = $navigation.find(baseItemSelector + ':eq(' + $index + ')');

                // Remove the tab pane first if needed
                if ($removeTabPane) {
                    var $href = $item.find('a').attr('href');
                    $($href).remove();
                }

                // Remove menu item
                $item.remove();
            };

            var innerTabClick = function (e) {
                // Get the index of the clicked tab
                var clickedIndex = $navigation.find(baseItemSelector).index($(e.currentTarget).parent(baseItemSelector));
                if ($settings.onTabClick && typeof $settings.onTabClick === 'function' && $settings.onTabClick($activeTab, $navigation, obj.currentIndex(), clickedIndex) === false) {
                    return false;
                }
            };

            var innerTabShown = function (e) {  // use shown instead of show to help prevent double firing
                $element = $(e.target).parent();
                var nextTab = $navigation.find(baseItemSelector).index($element);

                // If it's disabled then do not change
                if ($element.hasClass('disabled')) {
                    return false;
                }

                if ($settings.onTabChange && typeof $settings.onTabChange === 'function' && $settings.onTabChange($activeTab, $navigation, obj.currentIndex(), nextTab) === false) {
                    return false;
                }

                $activeTab = $element; // activated tab
                obj.fixNavigationButtons();
            };

            this.resetWizard = function () {

                // remove the existing handlers
                $('a[data-toggle="tab"]', $navigation).off('click', innerTabClick);
                $('a[data-toggle="tab"]', $navigation).off('shown shown.bs.tab', innerTabShown);

                // reset elements based on current state of the DOM
                $navigation = element.find('ul:first', element);
                $activeTab = $navigation.find(baseItemSelector + '.active', element);

                // re-add handlers
                $('a[data-toggle="tab"]', $navigation).on('click', innerTabClick);
                $('a[data-toggle="tab"]', $navigation).on('shown shown.bs.tab', innerTabShown);

                obj.fixNavigationButtons();
            };

            $navigation = element.find('ul:first', element);
            $activeTab = $navigation.find(baseItemSelector + '.active', element);

            if (!$navigation.hasClass($settings.tabClass)) {
                $navigation.addClass($settings.tabClass);
            }

            // Load onInit
            if ($settings.onInit && typeof $settings.onInit === 'function') {
                $settings.onInit($activeTab, $navigation, 0);
            }

            // Load onShow
            if ($settings.onShow && typeof $settings.onShow === 'function') {
                $settings.onShow($activeTab, $navigation, obj.nextIndex());
            }

            $('a[data-toggle="tab"]', $navigation).on('click', innerTabClick);

            // attach to both shown and shown.bs.tab to support Bootstrap versions 2.3.2 and 3.0.0
            $('a[data-toggle="tab"]', $navigation).on('shown shown.bs.tab', innerTabShown);
        };
        $.fn.bootstrapWizard = function (options) {
            //expose methods
            if (typeof options == 'string') {
                var args = Array.prototype.slice.call(arguments, 1)
                if (args.length === 1) {
                    args.toString();
                }
                return this.data('bootstrapWizard')[options](args);
            }
            return this.each(function (index) {
                var element = $(this);
                // Return early if this element already has a plugin instance
                if (element.data('bootstrapWizard')) return;
                // pass options to plugin constructor
                var wizard = new bootstrapWizardCreate(element, options);
                // Store plugin object in this element's data
                element.data('bootstrapWizard', wizard);
                // and then trigger initial change
                wizard.fixNavigationButtons();
            });
        };

        // expose options
        $.fn.bootstrapWizard.defaults = {
            tabClass: 'nav nav-pills',
            nextSelector: '.wizard li.next',
            previousSelector: '.wizard li.previous',
            firstSelector: '.wizard li.first',
            lastSelector: '.wizard li.last',
            onShow: null,
            onInit: null,
            onNext: null,
            onPrevious: null,
            onLast: null,
            onFirst: null,
            onTabChange: null,
            onTabClick: null,
            onTabShow: null
        };

    })(jQuery);


    //  Material Design Core Functions

    !function (t) { function o(t) { return "undefined" == typeof t.which ? !0 : "number" == typeof t.which && t.which > 0 ? !t.ctrlKey && !t.metaKey && !t.altKey && 8 != t.which && 9 != t.which && 13 != t.which && 16 != t.which && 17 != t.which && 20 != t.which && 27 != t.which : !1 } function i(o) { var i = t(o); i.prop("disabled") || i.closest(".form-group").addClass("is-focused") } function n(o) { o.closest("label").hover(function () { var o = t(this).find("input"); o.prop("disabled") || i(o) }, function () { e(t(this).find("input")) }) } function e(o) { t(o).closest(".form-group").removeClass("is-focused") } t.expr[":"].notmdproc = function (o) { return t(o).data("mdproc") ? !1 : !0 }, t.material = { options: { validate: !0, input: !0, ripples: !0, checkbox: !0, togglebutton: !0, radio: !0, arrive: !0, autofill: !1, withRipples: [".btn:not(.btn-link)", ".card-image", ".navbar a:not(.withoutripple)", ".footer a:not(.withoutripple)", ".dropdown-menu a", ".nav-tabs a:not(.withoutripple)", ".withripple", ".pagination li:not(.active):not(.disabled) a:not(.withoutripple)"].join(","), inputElements: "input.form-control, textarea.form-control, select.form-control", checkboxElements: ".checkbox > label > input[type=checkbox]", togglebuttonElements: ".togglebutton > label > input[type=checkbox]", radioElements: ".radio > label > input[type=radio]" }, checkbox: function (o) { var i = t(o ? o : this.options.checkboxElements).filter(":notmdproc").data("mdproc", !0).after("<span class='checkbox-material'><span class='check'></span></span>"); n(i) }, togglebutton: function (o) { var i = t(o ? o : this.options.togglebuttonElements).filter(":notmdproc").data("mdproc", !0).after("<span class='toggle'></span>"); n(i) }, radio: function (o) { var i = t(o ? o : this.options.radioElements).filter(":notmdproc").data("mdproc", !0).after("<span class='circle'></span><span class='check'></span>"); n(i) }, input: function (o) { t(o ? o : this.options.inputElements).filter(":notmdproc").data("mdproc", !0).each(function () { var o = t(this), i = o.closest(".form-group"); 0 === i.length && (o.wrap("<div class='form-group'></div>"), i = o.closest(".form-group")), o.attr("data-hint") && (o.after("<p class='help-block'>" + o.attr("data-hint") + "</p>"), o.removeAttr("data-hint")); var n = { "input-lg": "form-group-lg", "input-sm": "form-group-sm" }; if (t.each(n, function (t, n) { o.hasClass(t) && (o.removeClass(t), i.addClass(n)) }), o.hasClass("floating-label")) { var e = o.attr("placeholder"); o.attr("placeholder", null).removeClass("floating-label"); var a = o.attr("id"), r = ""; a && (r = "for='" + a + "'"), i.addClass("label-floating"), o.after("<label " + r + "class='control-label'>" + e + "</label>") } (null === o.val() || "undefined" == o.val() || "" === o.val()) && i.addClass("is-empty"), i.append("<span class='material-input'></span>"), i.find("input[type=file]").length > 0 && i.addClass("is-fileinput") }) }, attachInputEventHandlers: function () { var n = this.options.validate; t(document).on("change", ".checkbox input[type=checkbox]", function () { t(this).blur() }).on("keydown paste", ".form-control", function (i) { o(i) && t(this).closest(".form-group").removeClass("is-empty") }).on("keyup change", ".form-control", function () { var o = t(this), i = o.closest(".form-group"), e = "undefined" == typeof o[0].checkValidity || o[0].checkValidity(); "" === o.val() ? i.addClass("is-empty") : i.removeClass("is-empty"), n && (e ? i.removeClass("has-error") : i.addClass("has-error")) }).on("focus", ".form-control, .form-group.is-fileinput", function () { i(this) }).on("blur", ".form-control, .form-group.is-fileinput", function () { e(this) }).on("change", ".form-group input", function () { var o = t(this); if ("file" != o.attr("type")) { var i = o.closest(".form-group"), n = o.val(); n ? i.removeClass("is-empty") : i.addClass("is-empty") } }).on("change", ".form-group.is-fileinput input[type='file']", function () { var o = t(this), i = o.closest(".form-group"), n = ""; t.each(this.files, function (t, o) { n += o.name + ", " }), n = n.substring(0, n.length - 2), n ? i.removeClass("is-empty") : i.addClass("is-empty"), i.find("input.form-control[readonly]").val(n) }) }, ripples: function (o) { t(o ? o : this.options.withRipples).ripples() }, autofill: function () { var o = setInterval(function () { t("input[type!=checkbox]").each(function () { var o = t(this); o.val() && o.val() !== o.attr("value") && o.trigger("change") }) }, 100); setTimeout(function () { clearInterval(o) }, 1e4) }, attachAutofillEventHandlers: function () { var o; t(document).on("focus", "input", function () { var i = t(this).parents("form").find("input").not("[type=file]"); o = setInterval(function () { i.each(function () { var o = t(this); o.val() !== o.attr("value") && o.trigger("change") }) }, 100) }).on("blur", ".form-group input", function () { clearInterval(o) }) }, init: function (o) { this.options = t.extend({}, this.options, o); var i = t(document); t.fn.ripples && this.options.ripples && this.ripples(), this.options.input && (this.input(), this.attachInputEventHandlers()), this.options.checkbox && this.checkbox(), this.options.togglebutton && this.togglebutton(), this.options.radio && this.radio(), this.options.autofill && (this.autofill(), this.attachAutofillEventHandlers()), document.arrive && this.options.arrive && (t.fn.ripples && this.options.ripples && i.arrive(this.options.withRipples, function () { t.material.ripples(t(this)) }), this.options.input && i.arrive(this.options.inputElements, function () { t.material.input(t(this)) }), this.options.checkbox && i.arrive(this.options.checkboxElements, function () { t.material.checkbox(t(this)) }), this.options.radio && i.arrive(this.options.radioElements, function () { t.material.radio(t(this)) }), this.options.togglebutton && i.arrive(this.options.togglebuttonElements, function () { t.material.togglebutton(t(this)) })) } } }(jQuery), function (t, o, i, n) { "use strict"; function e(o, i) { r = this, this.element = t(o), this.options = t.extend({}, s, i), this._defaults = s, this._name = a, this.init() } var a = "ripples", r = null, s = {}; e.prototype.init = function () { var i = this.element; i.on("mousedown touchstart", function (n) { if (!r.isTouch() || "mousedown" !== n.type) { i.find(".ripple-container").length || i.append('<div class="ripple-container"></div>'); var e = i.children(".ripple-container"), a = r.getRelY(e, n), s = r.getRelX(e, n); if (a || s) { var l = r.getRipplesColor(i), p = t("<div></div>"); p.addClass("ripple").css({ left: s, top: a, "background-color": l }), e.append(p), function () { return o.getComputedStyle(p[0]).opacity }(), r.rippleOn(i, p), setTimeout(function () { r.rippleEnd(p) }, 500), i.on("mouseup mouseleave touchend", function () { p.data("mousedown", "off"), "off" === p.data("animating") && r.rippleOut(p) }) } } }) }, e.prototype.getNewSize = function (t, o) { return Math.max(t.outerWidth(), t.outerHeight()) / o.outerWidth() * 2.5 }, e.prototype.getRelX = function (t, o) { var i = t.offset(); return r.isTouch() ? (o = o.originalEvent, 1 === o.touches.length ? o.touches[0].pageX - i.left : !1) : o.pageX - i.left }, e.prototype.getRelY = function (t, o) { var i = t.offset(); return r.isTouch() ? (o = o.originalEvent, 1 === o.touches.length ? o.touches[0].pageY - i.top : !1) : o.pageY - i.top }, e.prototype.getRipplesColor = function (t) { var i = t.data("ripple-color") ? t.data("ripple-color") : o.getComputedStyle(t[0]).color; return i }, e.prototype.hasTransitionSupport = function () { var t = i.body || i.documentElement, o = t.style, e = o.transition !== n || o.WebkitTransition !== n || o.MozTransition !== n || o.MsTransition !== n || o.OTransition !== n; return e }, e.prototype.isTouch = function () { return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) }, e.prototype.rippleEnd = function (t) { t.data("animating", "off"), "off" === t.data("mousedown") && r.rippleOut(t) }, e.prototype.rippleOut = function (t) { t.off(), r.hasTransitionSupport() ? t.addClass("ripple-out") : t.animate({ opacity: 0 }, 100, function () { t.trigger("transitionend") }), t.on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function () { t.remove() }) }, e.prototype.rippleOn = function (t, o) { var i = r.getNewSize(t, o); r.hasTransitionSupport() ? o.css({ "-ms-transform": "scale(" + i + ")", "-moz-transform": "scale(" + i + ")", "-webkit-transform": "scale(" + i + ")", transform: "scale(" + i + ")" }).addClass("ripple-on").data("animating", "on").data("mousedown", "on") : o.animate({ width: 2 * Math.max(t.outerWidth(), t.outerHeight()), height: 2 * Math.max(t.outerWidth(), t.outerHeight()), "margin-left": -1 * Math.max(t.outerWidth(), t.outerHeight()), "margin-top": -1 * Math.max(t.outerWidth(), t.outerHeight()), opacity: .2 }, 500, function () { o.trigger("transitionend") }) }, t.fn.ripples = function (o) { return this.each(function () { t.data(this, "plugin_" + a) || t.data(this, "plugin_" + a, new e(this, o)) }) } }(jQuery, window, document);
      

    // Material Bootstrap Wizard Functions

    searchVisible = 0;
    transparent = true;

    $(document).ready(function () {

        $.material.init();

        /*  Activate the tooltips      */
        $('[rel="tooltip"]').tooltip();

        // Code for the Validator
        var $validator = $('.wizard-card form').validate({
            rules: {
                firstname: {
                    required: true,
                    minlength: 3
                },
                lastname: {
                    required: true,
                    minlength: 3
                },
                email: {
                    required: true,
                    minlength: 3,
                }
            },

            errorPlacement: function (error, element) {
                $(element).parent('div').addClass('has-error');
            }
        });

        // Wizard Initialization
        $('.wizard-card').bootstrapWizard({
            'tabClass': 'nav nav-pills',
            'nextSelector': '.btn-next',
            'previousSelector': '.btn-previous',

            onNext: function (tab, navigation, index) {
                var $valid = $('.wizard-card form').valid();
                if (!$valid) {
                    $validator.focusInvalid();
                    return false;
                }
            },

            onInit: function (tab, navigation, index) {

                //check number of tabs and fill the entire row
                var $total = navigation.find('li').length;
                $width = 100 / $total;
                var $wizard = navigation.closest('.wizard-card');

                $display_width = $(document).width();

                if ($display_width < 600 && $total > 3) {
                    $width = 50;
                }

                navigation.find('li').css('width', $width + '%');
                $first_li = navigation.find('li:first-child a').html();
                $moving_div = $('<div class="moving-tab">' + $first_li + '</div>');
                $('.wizard-card .wizard-navigation').append($moving_div);
                refreshAnimation($wizard, index);
                $('.moving-tab').css('transition', 'transform 0s');
            },

            onTabClick: function (tab, navigation, index) {
                var $valid = $('.wizard-card form').valid();

                if (!$valid) {
                    return false;
                } else {
                    return true;
                }
            },

            onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;

                var $wizard = navigation.closest('.wizard-card');

                // If it's the last tab then hide the last button and show the finish instead
                if ($current >= $total) {
                    $($wizard).find('.btn-next').hide();
                    $($wizard).find('.btn-finish').show();
                } else {
                    $($wizard).find('.btn-next').show();
                    $($wizard).find('.btn-finish').hide();
                }

                button_text = navigation.find('li:nth-child(' + $current + ') a').html();

                setTimeout(function () {
                    $('.moving-tab').text(button_text);
                }, 150);

                var checkbox = $('.footer-checkbox');

                if (!index == 0) {
                    $(checkbox).css({
                        'opacity': '0',
                        'visibility': 'hidden',
                        'position': 'absolute'
                    });
                } else {
                    $(checkbox).css({
                        'opacity': '1',
                        'visibility': 'visible'
                    });
                }

                refreshAnimation($wizard, index);
            }
        });


        // Prepare the preview for profile picture
        $("#wizard-picture").change(function () {
            readURL(this);
        });

        $('[data-toggle="wizard-radio"]').click(function () {
            wizard = $(this).closest('.wizard-card');
            wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
            $(this).addClass('active');
            $(wizard).find('[type="radio"]').removeAttr('checked');
            $(this).find('[type="radio"]').attr('checked', 'true');
        });

        $('[data-toggle="wizard-checkbox"]').click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                $(this).find('[type="checkbox"]').removeAttr('checked');
            } else {
                $(this).addClass('active');
                $(this).find('[type="checkbox"]').attr('checked', 'true');
            }
        });

        $('.set-full-height').css('height', 'auto');

    });



    //Function to show image before upload

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(window).resize(function () {
        $('.wizard-card').each(function () {
            $wizard = $(this);
            index = $wizard.bootstrapWizard('currentIndex');
            refreshAnimation($wizard, index);

            $('.moving-tab').css({
                'transition': 'transform 0s'
            });
        });
    });

    function refreshAnimation($wizard, index) {
        total_steps = $wizard.find('li').length;
        move_distance = $wizard.width() / total_steps;
        step_width = move_distance;
        move_distance *= index;

        $current = index + 1;

        if ($current == 1) {
            move_distance -= 8;
        } else if ($current == total_steps) {
            move_distance += 8;
        }

        $wizard.find('.moving-tab').css('width', step_width);
        $('.moving-tab').css({
            'transform': 'translate3d(' + move_distance + 'px, 0, 0)',
            'transition': 'all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1)'

        });
    }

    materialDesign = {

        checkScrollForTransparentNavbar: debounce(function () {
            if ($(document).scrollTop() > 260) {
                if (transparent) {
                    transparent = false;
                    $('.navbar-color-on-scroll').removeClass('navbar-transparent');
                }
            } else {
                if (!transparent) {
                    transparent = true;
                    $('.navbar-color-on-scroll').addClass('navbar-transparent');
                }
            }
        }, 17)

    }

    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            }, wait);
            if (immediate && !timeout) func.apply(context, args);
        };
    };







    /*! jQuery Validation Plugin - v1.14.0 - 6/30/2015
     * http://jqueryvalidation.org/
     * Copyright (c) 2015 Jörn Zaefferer; Licensed MIT */
    !function (a) { "function" == typeof define && define.amd ? define(["jquery"], a) : a(jQuery) }(function (a) { a.extend(a.fn, { validate: function (b) { if (!this.length) return void (b && b.debug && window.console && console.warn("Nothing selected, can't validate, returning nothing.")); var c = a.data(this[0], "validator"); return c ? c : (this.attr("novalidate", "novalidate"), c = new a.validator(b, this[0]), a.data(this[0], "validator", c), c.settings.onsubmit && (this.on("click.validate", ":submit", function (b) { c.settings.submitHandler && (c.submitButton = b.target), a(this).hasClass("cancel") && (c.cancelSubmit = !0), void 0 !== a(this).attr("formnovalidate") && (c.cancelSubmit = !0) }), this.on("submit.validate", function (b) { function d() { var d, e; return c.settings.submitHandler ? (c.submitButton && (d = a("<input type='hidden'/>").attr("name", c.submitButton.name).val(a(c.submitButton).val()).appendTo(c.currentForm)), e = c.settings.submitHandler.call(c, c.currentForm, b), c.submitButton && d.remove(), void 0 !== e ? e : !1) : !0 } return c.settings.debug && b.preventDefault(), c.cancelSubmit ? (c.cancelSubmit = !1, d()) : c.form() ? c.pendingRequest ? (c.formSubmitted = !0, !1) : d() : (c.focusInvalid(), !1) })), c) }, valid: function () { var b, c, d; return a(this[0]).is("form") ? b = this.validate().form() : (d = [], b = !0, c = a(this[0].form).validate(), this.each(function () { b = c.element(this) && b, d = d.concat(c.errorList) }), c.errorList = d), b }, rules: function (b, c) { var d, e, f, g, h, i, j = this[0]; if (b) switch (d = a.data(j.form, "validator").settings, e = d.rules, f = a.validator.staticRules(j), b) { case "add": a.extend(f, a.validator.normalizeRule(c)), delete f.messages, e[j.name] = f, c.messages && (d.messages[j.name] = a.extend(d.messages[j.name], c.messages)); break; case "remove": return c ? (i = {}, a.each(c.split(/\s/), function (b, c) { i[c] = f[c], delete f[c], "required" === c && a(j).removeAttr("aria-required") }), i) : (delete e[j.name], f) } return g = a.validator.normalizeRules(a.extend({}, a.validator.classRules(j), a.validator.attributeRules(j), a.validator.dataRules(j), a.validator.staticRules(j)), j), g.required && (h = g.required, delete g.required, g = a.extend({ required: h }, g), a(j).attr("aria-required", "true")), g.remote && (h = g.remote, delete g.remote, g = a.extend(g, { remote: h })), g } }), a.extend(a.expr[":"], { blank: function (b) { return !a.trim("" + a(b).val()) }, filled: function (b) { return !!a.trim("" + a(b).val()) }, unchecked: function (b) { return !a(b).prop("checked") } }), a.validator = function (b, c) { this.settings = a.extend(!0, {}, a.validator.defaults, b), this.currentForm = c, this.init() }, a.validator.format = function (b, c) { return 1 === arguments.length ? function () { var c = a.makeArray(arguments); return c.unshift(b), a.validator.format.apply(this, c) } : (arguments.length > 2 && c.constructor !== Array && (c = a.makeArray(arguments).slice(1)), c.constructor !== Array && (c = [c]), a.each(c, function (a, c) { b = b.replace(new RegExp("\\{" + a + "\\}", "g"), function () { return c }) }), b) }, a.extend(a.validator, { defaults: { messages: {}, groups: {}, rules: {}, errorClass: "error", validClass: "valid", errorElement: "label", focusCleanup: !1, focusInvalid: !0, errorContainer: a([]), errorLabelContainer: a([]), onsubmit: !0, ignore: ":hidden", ignoreTitle: !1, onfocusin: function (a) { this.lastActive = a, this.settings.focusCleanup && (this.settings.unhighlight && this.settings.unhighlight.call(this, a, this.settings.errorClass, this.settings.validClass), this.hideThese(this.errorsFor(a))) }, onfocusout: function (a) { this.checkable(a) || !(a.name in this.submitted) && this.optional(a) || this.element(a) }, onkeyup: function (b, c) { var d = [16, 17, 18, 20, 35, 36, 37, 38, 39, 40, 45, 144, 225]; 9 === c.which && "" === this.elementValue(b) || -1 !== a.inArray(c.keyCode, d) || (b.name in this.submitted || b === this.lastElement) && this.element(b) }, onclick: function (a) { a.name in this.submitted ? this.element(a) : a.parentNode.name in this.submitted && this.element(a.parentNode) }, highlight: function (b, c, d) { "radio" === b.type ? this.findByName(b.name).addClass(c).removeClass(d) : a(b).addClass(c).removeClass(d) }, unhighlight: function (b, c, d) { "radio" === b.type ? this.findByName(b.name).removeClass(c).addClass(d) : a(b).removeClass(c).addClass(d) } }, setDefaults: function (b) { a.extend(a.validator.defaults, b) }, messages: { required: "This field is required.", remote: "Please fix this field.", email: "Please enter a valid email address.", url: "Please enter a valid URL.", date: "Please enter a valid date.", dateISO: "Please enter a valid date ( ISO ).", number: "Please enter a valid number.", digits: "Please enter only digits.", creditcard: "Please enter a valid credit card number.", equalTo: "Please enter the same value again.", maxlength: a.validator.format("Please enter no more than {0} characters."), minlength: a.validator.format("Please enter at least {0} characters."), rangelength: a.validator.format("Please enter a value between {0} and {1} characters long."), range: a.validator.format("Please enter a value between {0} and {1}."), max: a.validator.format("Please enter a value less than or equal to {0}."), min: a.validator.format("Please enter a value greater than or equal to {0}.") }, autoCreateRanges: !1, prototype: { init: function () { function b(b) { var c = a.data(this.form, "validator"), d = "on" + b.type.replace(/^validate/, ""), e = c.settings; e[d] && !a(this).is(e.ignore) && e[d].call(c, this, b) } this.labelContainer = a(this.settings.errorLabelContainer), this.errorContext = this.labelContainer.length && this.labelContainer || a(this.currentForm), this.containers = a(this.settings.errorContainer).add(this.settings.errorLabelContainer), this.submitted = {}, this.valueCache = {}, this.pendingRequest = 0, this.pending = {}, this.invalid = {}, this.reset(); var c, d = this.groups = {}; a.each(this.settings.groups, function (b, c) { "string" == typeof c && (c = c.split(/\s/)), a.each(c, function (a, c) { d[c] = b }) }), c = this.settings.rules, a.each(c, function (b, d) { c[b] = a.validator.normalizeRule(d) }), a(this.currentForm).on("focusin.validate focusout.validate keyup.validate", ":text, [type='password'], [type='file'], select, textarea, [type='number'], [type='search'], [type='tel'], [type='url'], [type='email'], [type='datetime'], [type='date'], [type='month'], [type='week'], [type='time'], [type='datetime-local'], [type='range'], [type='color'], [type='radio'], [type='checkbox']", b).on("click.validate", "select, option, [type='radio'], [type='checkbox']", b), this.settings.invalidHandler && a(this.currentForm).on("invalid-form.validate", this.settings.invalidHandler), a(this.currentForm).find("[required], [data-rule-required], .required").attr("aria-required", "true") }, form: function () { return this.checkForm(), a.extend(this.submitted, this.errorMap), this.invalid = a.extend({}, this.errorMap), this.valid() || a(this.currentForm).triggerHandler("invalid-form", [this]), this.showErrors(), this.valid() }, checkForm: function () { this.prepareForm(); for (var a = 0, b = this.currentElements = this.elements() ; b[a]; a++) this.check(b[a]); return this.valid() }, element: function (b) { var c = this.clean(b), d = this.validationTargetFor(c), e = !0; return this.lastElement = d, void 0 === d ? delete this.invalid[c.name] : (this.prepareElement(d), this.currentElements = a(d), e = this.check(d) !== !1, e ? delete this.invalid[d.name] : this.invalid[d.name] = !0), a(b).attr("aria-invalid", !e), this.numberOfInvalids() || (this.toHide = this.toHide.add(this.containers)), this.showErrors(), e }, showErrors: function (b) { if (b) { a.extend(this.errorMap, b), this.errorList = []; for (var c in b) this.errorList.push({ message: b[c], element: this.findByName(c)[0] }); this.successList = a.grep(this.successList, function (a) { return !(a.name in b) }) } this.settings.showErrors ? this.settings.showErrors.call(this, this.errorMap, this.errorList) : this.defaultShowErrors() }, resetForm: function () { a.fn.resetForm && a(this.currentForm).resetForm(), this.submitted = {}, this.lastElement = null, this.prepareForm(), this.hideErrors(); var b, c = this.elements().removeData("previousValue").removeAttr("aria-invalid"); if (this.settings.unhighlight) for (b = 0; c[b]; b++) this.settings.unhighlight.call(this, c[b], this.settings.errorClass, ""); else c.removeClass(this.settings.errorClass) }, numberOfInvalids: function () { return this.objectLength(this.invalid) }, objectLength: function (a) { var b, c = 0; for (b in a) c++; return c }, hideErrors: function () { this.hideThese(this.toHide) }, hideThese: function (a) { a.not(this.containers).text(""), this.addWrapper(a).hide() }, valid: function () { return 0 === this.size() }, size: function () { return this.errorList.length }, focusInvalid: function () { if (this.settings.focusInvalid) try { a(this.findLastActive() || this.errorList.length && this.errorList[0].element || []).filter(":visible").focus().trigger("focusin") } catch (b) { } }, findLastActive: function () { var b = this.lastActive; return b && 1 === a.grep(this.errorList, function (a) { return a.element.name === b.name }).length && b }, elements: function () { var b = this, c = {}; return a(this.currentForm).find("input, select, textarea").not(":submit, :reset, :image, :disabled").not(this.settings.ignore).filter(function () { return !this.name && b.settings.debug && window.console && console.error("%o has no name assigned", this), this.name in c || !b.objectLength(a(this).rules()) ? !1 : (c[this.name] = !0, !0) }) }, clean: function (b) { return a(b)[0] }, errors: function () { var b = this.settings.errorClass.split(" ").join("."); return a(this.settings.errorElement + "." + b, this.errorContext) }, reset: function () { this.successList = [], this.errorList = [], this.errorMap = {}, this.toShow = a([]), this.toHide = a([]), this.currentElements = a([]) }, prepareForm: function () { this.reset(), this.toHide = this.errors().add(this.containers) }, prepareElement: function (a) { this.reset(), this.toHide = this.errorsFor(a) }, elementValue: function (b) { var c, d = a(b), e = b.type; return "radio" === e || "checkbox" === e ? this.findByName(b.name).filter(":checked").val() : "number" === e && "undefined" != typeof b.validity ? b.validity.badInput ? !1 : d.val() : (c = d.val(), "string" == typeof c ? c.replace(/\r/g, "") : c) }, check: function (b) { b = this.validationTargetFor(this.clean(b)); var c, d, e, f = a(b).rules(), g = a.map(f, function (a, b) { return b }).length, h = !1, i = this.elementValue(b); for (d in f) { e = { method: d, parameters: f[d] }; try { if (c = a.validator.methods[d].call(this, i, b, e.parameters), "dependency-mismatch" === c && 1 === g) { h = !0; continue } if (h = !1, "pending" === c) return void (this.toHide = this.toHide.not(this.errorsFor(b))); if (!c) return this.formatAndAdd(b, e), !1 } catch (j) { throw this.settings.debug && window.console && console.log("Exception occurred when checking element " + b.id + ", check the '" + e.method + "' method.", j), j instanceof TypeError && (j.message += ".  Exception occurred when checking element " + b.id + ", check the '" + e.method + "' method."), j } } if (!h) return this.objectLength(f) && this.successList.push(b), !0 }, customDataMessage: function (b, c) { return a(b).data("msg" + c.charAt(0).toUpperCase() + c.substring(1).toLowerCase()) || a(b).data("msg") }, customMessage: function (a, b) { var c = this.settings.messages[a]; return c && (c.constructor === String ? c : c[b]) }, findDefined: function () { for (var a = 0; a < arguments.length; a++) if (void 0 !== arguments[a]) return arguments[a]; return void 0 }, defaultMessage: function (b, c) { return this.findDefined(this.customMessage(b.name, c), this.customDataMessage(b, c), !this.settings.ignoreTitle && b.title || void 0, a.validator.messages[c], "<strong>Warning: No message defined for " + b.name + "</strong>") }, formatAndAdd: function (b, c) { var d = this.defaultMessage(b, c.method), e = /\$?\{(\d+)\}/g; "function" == typeof d ? d = d.call(this, c.parameters, b) : e.test(d) && (d = a.validator.format(d.replace(e, "{$1}"), c.parameters)), this.errorList.push({ message: d, element: b, method: c.method }), this.errorMap[b.name] = d, this.submitted[b.name] = d }, addWrapper: function (a) { return this.settings.wrapper && (a = a.add(a.parent(this.settings.wrapper))), a }, defaultShowErrors: function () { var a, b, c; for (a = 0; this.errorList[a]; a++) c = this.errorList[a], this.settings.highlight && this.settings.highlight.call(this, c.element, this.settings.errorClass, this.settings.validClass), this.showLabel(c.element, c.message); if (this.errorList.length && (this.toShow = this.toShow.add(this.containers)), this.settings.success) for (a = 0; this.successList[a]; a++) this.showLabel(this.successList[a]); if (this.settings.unhighlight) for (a = 0, b = this.validElements() ; b[a]; a++) this.settings.unhighlight.call(this, b[a], this.settings.errorClass, this.settings.validClass); this.toHide = this.toHide.not(this.toShow), this.hideErrors(), this.addWrapper(this.toShow).show() }, validElements: function () { return this.currentElements.not(this.invalidElements()) }, invalidElements: function () { return a(this.errorList).map(function () { return this.element }) }, showLabel: function (b, c) { var d, e, f, g = this.errorsFor(b), h = this.idOrName(b), i = a(b).attr("aria-describedby"); g.length ? (g.removeClass(this.settings.validClass).addClass(this.settings.errorClass), g.html(c)) : (g = a("<" + this.settings.errorElement + ">").attr("id", h + "-error").addClass(this.settings.errorClass).html(c || ""), d = g, this.settings.wrapper && (d = g.hide().show().wrap("<" + this.settings.wrapper + "/>").parent()), this.labelContainer.length ? this.labelContainer.append(d) : this.settings.errorPlacement ? this.settings.errorPlacement(d, a(b)) : d.insertAfter(b), g.is("label") ? g.attr("for", h) : 0 === g.parents("label[for='" + h + "']").length && (f = g.attr("id").replace(/(:|\.|\[|\]|\$)/g, "\\$1"), i ? i.match(new RegExp("\\b" + f + "\\b")) || (i += " " + f) : i = f, a(b).attr("aria-describedby", i), e = this.groups[b.name], e && a.each(this.groups, function (b, c) { c === e && a("[name='" + b + "']", this.currentForm).attr("aria-describedby", g.attr("id")) }))), !c && this.settings.success && (g.text(""), "string" == typeof this.settings.success ? g.addClass(this.settings.success) : this.settings.success(g, b)), this.toShow = this.toShow.add(g) }, errorsFor: function (b) { var c = this.idOrName(b), d = a(b).attr("aria-describedby"), e = "label[for='" + c + "'], label[for='" + c + "'] *"; return d && (e = e + ", #" + d.replace(/\s+/g, ", #")), this.errors().filter(e) }, idOrName: function (a) { return this.groups[a.name] || (this.checkable(a) ? a.name : a.id || a.name) }, validationTargetFor: function (b) { return this.checkable(b) && (b = this.findByName(b.name)), a(b).not(this.settings.ignore)[0] }, checkable: function (a) { return /radio|checkbox/i.test(a.type) }, findByName: function (b) { return a(this.currentForm).find("[name='" + b + "']") }, getLength: function (b, c) { switch (c.nodeName.toLowerCase()) { case "select": return a("option:selected", c).length; case "input": if (this.checkable(c)) return this.findByName(c.name).filter(":checked").length } return b.length }, depend: function (a, b) { return this.dependTypes[typeof a] ? this.dependTypes[typeof a](a, b) : !0 }, dependTypes: { "boolean": function (a) { return a }, string: function (b, c) { return !!a(b, c.form).length }, "function": function (a, b) { return a(b) } }, optional: function (b) { var c = this.elementValue(b); return !a.validator.methods.required.call(this, c, b) && "dependency-mismatch" }, startRequest: function (a) { this.pending[a.name] || (this.pendingRequest++, this.pending[a.name] = !0) }, stopRequest: function (b, c) { this.pendingRequest--, this.pendingRequest < 0 && (this.pendingRequest = 0), delete this.pending[b.name], c && 0 === this.pendingRequest && this.formSubmitted && this.form() ? (a(this.currentForm).submit(), this.formSubmitted = !1) : !c && 0 === this.pendingRequest && this.formSubmitted && (a(this.currentForm).triggerHandler("invalid-form", [this]), this.formSubmitted = !1) }, previousValue: function (b) { return a.data(b, "previousValue") || a.data(b, "previousValue", { old: null, valid: !0, message: this.defaultMessage(b, "remote") }) }, destroy: function () { this.resetForm(), a(this.currentForm).off(".validate").removeData("validator") } }, classRuleSettings: { required: { required: !0 }, email: { email: !0 }, url: { url: !0 }, date: { date: !0 }, dateISO: { dateISO: !0 }, number: { number: !0 }, digits: { digits: !0 }, creditcard: { creditcard: !0 } }, addClassRules: function (b, c) { b.constructor === String ? this.classRuleSettings[b] = c : a.extend(this.classRuleSettings, b) }, classRules: function (b) { var c = {}, d = a(b).attr("class"); return d && a.each(d.split(" "), function () { this in a.validator.classRuleSettings && a.extend(c, a.validator.classRuleSettings[this]) }), c }, normalizeAttributeRule: function (a, b, c, d) { /min|max/.test(c) && (null === b || /number|range|text/.test(b)) && (d = Number(d), isNaN(d) && (d = void 0)), d || 0 === d ? a[c] = d : b === c && "range" !== b && (a[c] = !0) }, attributeRules: function (b) { var c, d, e = {}, f = a(b), g = b.getAttribute("type"); for (c in a.validator.methods) "required" === c ? (d = b.getAttribute(c), "" === d && (d = !0), d = !!d) : d = f.attr(c), this.normalizeAttributeRule(e, g, c, d); return e.maxlength && /-1|2147483647|524288/.test(e.maxlength) && delete e.maxlength, e }, dataRules: function (b) { var c, d, e = {}, f = a(b), g = b.getAttribute("type"); for (c in a.validator.methods) d = f.data("rule" + c.charAt(0).toUpperCase() + c.substring(1).toLowerCase()), this.normalizeAttributeRule(e, g, c, d); return e }, staticRules: function (b) { var c = {}, d = a.data(b.form, "validator"); return d.settings.rules && (c = a.validator.normalizeRule(d.settings.rules[b.name]) || {}), c }, normalizeRules: function (b, c) { return a.each(b, function (d, e) { if (e === !1) return void delete b[d]; if (e.param || e.depends) { var f = !0; switch (typeof e.depends) { case "string": f = !!a(e.depends, c.form).length; break; case "function": f = e.depends.call(c, c) } f ? b[d] = void 0 !== e.param ? e.param : !0 : delete b[d] } }), a.each(b, function (d, e) { b[d] = a.isFunction(e) ? e(c) : e }), a.each(["minlength", "maxlength"], function () { b[this] && (b[this] = Number(b[this])) }), a.each(["rangelength", "range"], function () { var c; b[this] && (a.isArray(b[this]) ? b[this] = [Number(b[this][0]), Number(b[this][1])] : "string" == typeof b[this] && (c = b[this].replace(/[\[\]]/g, "").split(/[\s,]+/), b[this] = [Number(c[0]), Number(c[1])])) }), a.validator.autoCreateRanges && (null != b.min && null != b.max && (b.range = [b.min, b.max], delete b.min, delete b.max), null != b.minlength && null != b.maxlength && (b.rangelength = [b.minlength, b.maxlength], delete b.minlength, delete b.maxlength)), b }, normalizeRule: function (b) { if ("string" == typeof b) { var c = {}; a.each(b.split(/\s/), function () { c[this] = !0 }), b = c } return b }, addMethod: function (b, c, d) { a.validator.methods[b] = c, a.validator.messages[b] = void 0 !== d ? d : a.validator.messages[b], c.length < 3 && a.validator.addClassRules(b, a.validator.normalizeRule(b)) }, methods: { required: function (b, c, d) { if (!this.depend(d, c)) return "dependency-mismatch"; if ("select" === c.nodeName.toLowerCase()) { var e = a(c).val(); return e && e.length > 0 } return this.checkable(c) ? this.getLength(b, c) > 0 : b.length > 0 }, email: function (a, b) { return this.optional(b) || /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/.test(a) }, url: function (a, b) { return this.optional(b) || /^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})).?)(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(a) }, date: function (a, b) { return this.optional(b) || !/Invalid|NaN/.test(new Date(a).toString()) }, dateISO: function (a, b) { return this.optional(b) || /^\d{4}[\/\-](0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])$/.test(a) }, number: function (a, b) { return this.optional(b) || /^(?:-?\d+|-?\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$/.test(a) }, digits: function (a, b) { return this.optional(b) || /^\d+$/.test(a) }, creditcard: function (a, b) { if (this.optional(b)) return "dependency-mismatch"; if (/[^0-9 \-]+/.test(a)) return !1; var c, d, e = 0, f = 0, g = !1; if (a = a.replace(/\D/g, ""), a.length < 13 || a.length > 19) return !1; for (c = a.length - 1; c >= 0; c--) d = a.charAt(c), f = parseInt(d, 10), g && (f *= 2) > 9 && (f -= 9), e += f, g = !g; return e % 10 === 0 }, minlength: function (b, c, d) { var e = a.isArray(b) ? b.length : this.getLength(b, c); return this.optional(c) || e >= d }, maxlength: function (b, c, d) { var e = a.isArray(b) ? b.length : this.getLength(b, c); return this.optional(c) || d >= e }, rangelength: function (b, c, d) { var e = a.isArray(b) ? b.length : this.getLength(b, c); return this.optional(c) || e >= d[0] && e <= d[1] }, min: function (a, b, c) { return this.optional(b) || a >= c }, max: function (a, b, c) { return this.optional(b) || c >= a }, range: function (a, b, c) { return this.optional(b) || a >= c[0] && a <= c[1] }, equalTo: function (b, c, d) { var e = a(d); return this.settings.onfocusout && e.off(".validate-equalTo").on("blur.validate-equalTo", function () { a(c).valid() }), b === e.val() }, remote: function (b, c, d) { if (this.optional(c)) return "dependency-mismatch"; var e, f, g = this.previousValue(c); return this.settings.messages[c.name] || (this.settings.messages[c.name] = {}), g.originalMessage = this.settings.messages[c.name].remote, this.settings.messages[c.name].remote = g.message, d = "string" == typeof d && { url: d } || d, g.old === b ? g.valid : (g.old = b, e = this, this.startRequest(c), f = {}, f[c.name] = b, a.ajax(a.extend(!0, { mode: "abort", port: "validate" + c.name, dataType: "json", data: f, context: e.currentForm, success: function (d) { var f, h, i, j = d === !0 || "true" === d; e.settings.messages[c.name].remote = g.originalMessage, j ? (i = e.formSubmitted, e.prepareElement(c), e.formSubmitted = i, e.successList.push(c), delete e.invalid[c.name], e.showErrors()) : (f = {}, h = d || e.defaultMessage(c, "remote"), f[c.name] = g.message = a.isFunction(h) ? h(b) : h, e.invalid[c.name] = !0, e.showErrors(f)), g.valid = j, e.stopRequest(c, j) } }, d)), "pending") } } }); var b, c = {}; a.ajaxPrefilter ? a.ajaxPrefilter(function (a, b, d) { var e = a.port; "abort" === a.mode && (c[e] && c[e].abort(), c[e] = d) }) : (b = a.ajax, a.ajax = function (d) { var e = ("mode" in d ? d : a.ajaxSettings).mode, f = ("port" in d ? d : a.ajaxSettings).port; return "abort" === e ? (c[f] && c[f].abort(), c[f] = b.apply(this, arguments), c[f]) : b.apply(this, arguments) }) });


</script>
