﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="col-md-6" ng-repeat="data in fieldData">

        <div class="controls" ng-switch="data.type">
            <label class="control-label">{{data.displayName}}</label><span class="mandatoryfield" ng-show="data.mandatorymark">*</span>
            <input ng-switch-when="text" class="input-clr form-group" type="text" title="{{model[data.field]}}" ng-model="model[data.field]" />
            <!--<select ng-switch-when="genderselect" class="input-clr form-group multiselect" ng-model="model[data.field]"  id="DefaultHearingStatus"
                    ng-options="option.CodeID as option.Code for option in gender"   multiple="multiple" multiselect-dropdown >
                <option value=''></option>
            </select>-->
            <div ng-switch-when="genderselect">
                <div  ng-dropdown-multiselect="" options="gender" selected-model="example14model" checkboxes="true" extra-settings="example14settings"></div> <pre>Selected Model: {{example14model}} | json</pre>
            </div>
        </div>
    </div>
</body>
</html>
