﻿<div>
    <div class="familyImg">

        <header class="header encase df aife">
        
        <!--<div class="placeholder">
          <br>
        </div>-->
            
        <a href="#" class="header__logo  header__logo__color">
            <img src="../img/LOGO FINAL TRUDOVA.png" style="width: 85%;height: 151%;margin-top: -9px;" /></a>
        <div class="df aic mla hide-xs" hide-xs="">
          <div class="header__cta df fw aife jcfe">
            <!-- <span class="header_cta_copy">Speak to a Licensed Life Insurance Agent</span> -->
            <span id="MainContent_Header_ctaPhone" class="header__cta__phone">1-866-671-3184</span>
            <span class="header__cta__bar fw-sb">|</span>
          </div>
          <div class="header__search pr">
            <div class="header__search__bg df aic jcfe">
              <input class="header__search__input fn" type="text" value="">
              <button class="header__search__btn" type="button" name="button"></button>
            </div>
          </div>
        </div>
        <a href="tel:1-866-433-8186" id="MainContent_Header_ctaPhoneMobile">
          <div class="mbi-ico hide show-xs" hide="" show-xs=""></div></a>
        </header>


        <div class="encase bnr bnr--home hide-xs" hide-xs="">
            <div class="bnr--home__dsk pr">
                <div class="bnr--home__copy">


                    <h2 class="bnr--home__h3">Over 1.2 million families<br>trust Trudova.</h2>
                </div>
                <div class="bnr--home__copy__btm__home">
                    <p class="bnr--home__p m0">For over 32 years, we've been helping them keep their promises. We shop many of the best insurance companies to help you save money.</p>
                </div>

                <!-- <a href="life-insurance-quote" md-ink-ripple="" class="btn bnr--home__btn md-ink-ripple">Get a Free Quote</a> -->

            </div>
        </div>

        <div class="qtbar qtbar--home dfw pr">
            <div class="qtbar__controls dfw od-xs-3">
                <div class="qtbar__control dfc fdr-xs fw-xs p-xs pr">
                    <div class="qtbar__control__title df aifs jcc od-xs-1 responsiveControlTitle">
                        <span class="qtbar__currency">$</span>
                        <span class="qtbar__big qtbarResponsive">{{policyValue}}</span>
                    </div>
                    <div class="qtbar__control__slide od-xs-3 br-xs">
                        <md-slider step="1" ng-model="policyValue" min="1000" max="100000" aria-label="Policy Value" id="policy__value" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-valuemin="1" aria-valuenow="3" aria-valuemax="9" aria-invalid="false">
                        <div class="md-slider-wrapper" tabindex="0" role="slider" style="touch-action: pan-x;"><div class="md-slider-content"><div class="md-track-container"><div class="md-track"></div><div class="md-track md-track-fill" style="width: 25%;"></div>
                            <div class="md-track-ticks"></div></div>
                            <div class="md-thumb-container" style="left: 25%;"><div class="md-thumb"></div>
                            <div class="md-focus-thumb"></div><div class="md-focus-ring"></div>
                            <div class="md-sign"><span class="md-thumb-text">3</span></div>
                            <div class="md-disabled-thumb"></div></div></div></div></md-slider>
                    </div>
                    <div class="qtbar__control__chain first df jcc od-xs-2">
                        <span class="bdr-xs">Choose Policy Amount</span>
                        <div class="qtbar__help df fn pr">
                            <span class="qtbar__modal__opener dfm cp" ng-click="modal_1_open = !modal_1_open" role="button" tabindex="0">?</span>

                        </div>
                    </div>
                </div>
                <div class="qtbar__control dfc fdr-xs fw-xs p-xs pr qtbar__control__pt">
                    <div class="qtbar__control__title df aifs jcc od-xs-1">
                        <span class="qtbar__big ">{{policyTerm}}</span>
                        <span class="qtbar__big ml5">Years</span>
                    </div>
                    <div class="qtbar__control__slide od-xs-3 br-xs">
                        <md-slider step="5" ng-model="policyTerm" min="10" max="40" aria-label="Policy Term" id="policy__term" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" aria-valuemin="10" aria-valuenow="20" aria-valuemax="30" aria-invalid="false"><div class="md-slider-wrapper" tabindex="0" role="slider" style="touch-action: pan-x;">
                            <div class="md-slider-content"><div class="md-track-container"><div class="md-track"></div>
                                <div class="md-track md-track-fill" style="width: 50%;"></div>
                                <div class="md-track-ticks"></div></div>
                            <div class="md-thumb-container" style="left: 50%;">
                                <div class="md-thumb"></div><div class="md-focus-thumb"></div>
                                <div class="md-focus-ring"></div>
                                <div class="md-sign"><span class="md-thumb-text">20</span></div>
                                <div class="md-disabled-thumb"></div></div></div></div></md-slider>
                    </div>
                    <div class="qtbar__control__chain second df jcc od-xs-2">
                        <span class="bdr-xs">Choose Policy value</span>
                        <div class="qtbar__help dfm fn pr">
                            <span class="qtbar__modal__opener dfm cp" ng-click="modal_2_open = !modal_2_open" role="button" tabindex="0">?</span>

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="qtbar__spratr od-xs-2"></div> -->
            <div class="qtbar__copy f1 dfm fdc od-xs-1 p-xs">
                <a href="#pagedetails" ng-click="viewsplanes()" class="button positive btn-lg plate-submit btn2" hide-xs="">View plans</a>
                <div class="qtbar__btn__hint tac hide-xs" hide-xs=""></div>
                <div class="qtbar__up-arrow mobileHome__arrow hide-gt-xs" hide-gt-xs=""></div>
            </div>
        </div>
    </div>
    <!-- panel starting here default is hiding -->
    <!--  <div class="panel_section" ng-show="IsVisible">
      <div class="panel panel-primary">
          <div class="panel-heading">Panel with panel-primary class</div>
          <div class="panel-body">Panel Content</div>
      </div>
      </div> -->



</div>