﻿
@import url('http://fonts.googleapis.com/css?family=Lato');



.familyImg {
    /*background-image: url(imag/family.jpg);*/
    background-image: url('../img/family.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

.familyImg1 {
    /*background-image: url(images/family1.png);*/
    background-image: url('../img/family1.png');
    background-repeat: no-repeat;
    /*background-position: center top;*/
    height: 44%;
}
    

@charset "UTF-8";
/*

	Init & Reset
================================================*/
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font: 400 16px "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

a,
select,
input,
button,
textarea,
area,
[role="button"]:focus {
  outline: none;
}

input,
input::-moz-focus-inner,
button,
.btn {
  border: none;
  margin: 0;
  padding: 0;
}

button,
.btn {
  cursor: pointer;
}

a {
  background-color: transparent;
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  -webkit-tap-highlight-color: transparent;
}

img {
  border: none;
}

::-webkit-input-placeholder {
  color: gray;
}

:-moz-placeholder {
  color: gray;
  opacity: 1;
}

::-moz-placeholder {
  color: gray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: gray;
}

/*

	Common Elements
================================================
*/
.df, .dfw, .dfc, .dfm {
  display: flex;
}

.dfw, .fw {
  flex-wrap: wrap;
}

.fnw {
  flex-wrap: nowrap;
}

.fdr {
  flex-direction: row;
}

.dfc, .fdc {
  flex-direction: column;
}

.jcc, .dfm {
  justify-content: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.jcsb {
  justify-content: space-between;
}

.aic, .dfm {
  align-items: center;
}

.aifs {
  align-items: flex-start;
}

.aife {
  align-items: flex-end;
}

.fn {
  flex: none;
}

.f1 {
  flex: 1;
}

.f11 {
  -webkit-box-flex: 1.1;
  -ms-flex: 1.1;
  -webkit-flex: 1.1;
  flex: 1.1;
}

.f12 {
  -webkit-box-flex: 1.2;
  -ms-flex: 1.2;
  -webkit-flex: 1.2;
  flex: 1.2;
}

.f13 {
  -webkit-box-flex: 1.3;
  -ms-flex: 1.3;
  -webkit-flex: 1.3;
  flex: 1.3;
}

.f14 {
  -webkit-box-flex: 1.4;
  -ms-flex: 1.4;
  -webkit-flex: 1.4;
  flex: 1.4;
}

.f15 {
  -webkit-box-flex: 1.5;
  -ms-flex: 1.5;
  -webkit-flex: 1.5;
  flex: 1.5;
}

.f16 {
  -webkit-box-flex: 1.6;
  -ms-flex: 1.6;
  -webkit-flex: 1.6;
  flex: 1.6;
}

.f17 {
  -webkit-box-flex: 1.7;
  -ms-flex: 1.7;
  -webkit-flex: 1.7;
  flex: 1.7;
}

.f18 {
  -webkit-box-flex: 1.8;
  -ms-flex: 1.8;
  -webkit-flex: 1.8;
  flex: 1.8;
}

.f19 {
  -webkit-box-flex: 1.9;
  -ms-flex: 1.9;
  -webkit-flex: 1.9;
  flex: 1.9;
}

.f2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

/*IE11 Fixes*/
.f01aied {
  flex: 0 1 auto;
}

@media screen and (max-width: 37.4375em) {
  .f01aiem {
    flex: 0 1 auto;
  }
  .f11aiem {
    flex: 1 1 auto;
  }
}

/*End IE11 Fixes*/
.f10 {
  flex: 1 0 0%;
}

.f11f {
  flex: 1 1 100%;
}

.f10f {
  flex: 1 0 100%;
}

.f01f {
  flex: 0 1 100%;
}

.f11a {
  flex: 1 1 auto;
}

.f10a {
  flex: 1 0 auto;
}

.f01a {
  flex: 0 1 auto;
}

.df > .f1,
.df > .f10,
.df > .f10a {
  min-width: 0;
}

.dfc > .f1,
.dfc > .f10,
.dfc > .f10a {
  min-height: 0;
}

.tb,
.tbm {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tr {
  display: table-row;
}

.tc,
.tcm,
.tcb {
  display: table-cell;
  vertical-align: top;
}

.vm > .tc,
.tbm > .tc,
.tcm {
  vertical-align: middle;
}

.dtb {
  display: table;
}

.ditb {
  display: inline-table;
}

.dtc {
  display: table-cell;
}

.ts {
  transition: 0.15s;
}

.noShadow,
.noShadow:focus {
  box-shadow: none;
}

.peel {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
}

.bb {
  box-sizing: border-box;
}

.caps {
  text-transform: uppercase;
}

.cp {
  cursor: pointer;
}

.mwf {
  max-width: 100%;
}

.whf {
  width: 100%;
  height: 100%;
}

.hf {
  height: 100%;
}

.col {
  width: 100%;
}

.col2 {
  width: 50%;
}

.col3 {
  width: 33.33333%;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.oh {
  overflow: hidden;
}

.oa {
  overflow: auto;
}

.tac {
  text-align: center;
}

.ma {
  margin: auto;
}

.m0a {
  margin: 0 auto;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.mlra {
  margin-left: auto;
  margin-right: auto;
}

.m0 {
  margin: 0;
}

.ml5 {
  margin-left: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.abs-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.encase {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 37.5em) {
  .encase {
    padding: 0 3vw;
  }
}

@media screen and (min-width: 60em) {
  .encase {
    padding: 0 4vw;
  }
}

@media screen and (min-width: 80em) {
  .encase {
    padding: 0 5vw;
  }
}

@media screen and (min-width: 1440px) {
  .encase {
    padding: 0 88px;
  }
}

@media screen and (max-width: 37.4375em) {
  .no-encase-xs {
    padding-left: 0;
    padding-right: 0;
  }
  .no-pd-xs {
    padding: 0;
  }
  .pd-def-xs {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.p-dflt {
  padding: 0 16px;
}

.p-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.mbg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.mbg--sub {
  background-image: url(../images/coupleDancing.jpg);
}

.fw-b {
  font-weight: 700;
}

.fw-sb {
  font-weight: 600;
}

.fw-l {
  font-weight: 300;
}

.btn {
  display: inline-block;
  position: relative;
  background-color: #df8d0c;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  padding: 0 2.5em;
  margin: 0;
  height: 2.875em;
  line-height: 2.875em;
}

.btn .md-ripple-container {
  border-radius: 3em;
}

.btn:hover {
  text-decoration: none;
}

.btn--get-quotes {
  font-size: 1.125em;
  margin: 0.83333em 0;
}

@media screen and (max-width: 37.4375em) {
  .btn--get-quotes {
    height: 2.16667em;
    line-height: 1.94444em;
    border: 0.11111em solid #0194a8;
    background: linear-gradient(to bottom, #00a6bc 0%, #00a6bc 50%, #00a2b7 50%, #00a2b7 100%);
    white-space: nowrap;
  }
}

@media screen and (min-width: 37.5em) {
  .btn--get-quotes {
    height: 2.5em;
    line-height: 2.27778em;
    border: 2px solid #df8d0c;
    background: none;
    color: #df8d0c;
  }
}

@media screen and (max-width: 37.4375em) {
  .btn--get-quotes.btn--rfz {
    font-size: 1.5em;
  }
}

.btn--btm {
  margin-top: 0.1875em;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

@media screen and (max-width: 37.4375em) {
  .ctnt--pdt {
    padding-top: 6.25vw;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 89.9375em) {
  .ctnt--pdt {
    font-size: 1.11111vw;
    padding-top: 3.26389vw;
  }
}

@media screen and (min-width: 90em) {
  .ctnt--pdt {
    padding-top: 2.9375em;
  }
}

.ctnt--pdb {
  padding-bottom: 2.125em;
}

@media screen and (max-width: 37.4375em) {
  .ctnt--pdb {
    padding-bottom: 6.25vw;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 90em) {
  .ctnt--pdb {
    font-size: 1.11111vw;
  }
}

.ctnt__vd-box {
  margin: 2.875em auto 0;
  background-color: #b4b4b4;
}

.ctnt__vd-box:after {
  content: '';
  width: 4.875em;
  height: 4.875em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../images/btn-play.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 37.4375em) {
  .ctnt__vd-box {
    width: 84vw;
    height: 46.875vw;
    margin: 7.1875vw 0 0;
  }
}

@media screen and (min-width: 37.5em) {
  .ctnt__vd-box {
    width: 32.6875em;
    height: 18.4375em;
  }
}

@media screen and (max-width: 37.4375em) {
  .vid {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 7.5vw 0 6.25vw -25px !important;
  }
}

@media screen and (min-width: 37.5em) {
  .chead__gut {
    width: 78.41897%;
    margin: 0 auto;
  }
}

.chead {
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 37.4375em) {
  .chead {
    font-size: 6.875vw;
    line-height: 1.18182;
    color: #f17c21;
  }
}

@media screen and (min-width: 37.5em) {
  .chead {
    font-size: 2.0625em;
    font-weight: 300;
    line-height: 1.06061;
    text-align: center;
    color: #323232;
  }
}

.chead__sib {
  margin: 1.22222em 0 1em;
}

@media screen and (max-width: 37.4375em) {
  .chead__sib {
    font-size: 0.75em;
    color: #322f2f;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 37.5em) {
  .chead__sib {
    text-align: center;
    font-size: 1.125em;
    color: #8a898a;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .chead__sib {
    font-size: 1.33333vw;
  }
}

.copy-btm {
  font-size: 12px;
  color: #8a898a;
}

@media screen and (min-width: 37.5em) {
  .copy-btm {
    width: 88.53755%;
    text-align: center;
    margin: 3.91667em auto 0;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .copy-btm {
    font-size: 1.33333vw;
  }
}

.copy-list {
  list-style-type: none;
  padding: 0;
}

.copy-li:before {
  content: "•";
  margin-right: 0.42105em;
}

.copy-li__link {
  color: currentColor;
  text-decoration: underline;
}

.copy-li__link:hover {
  text-decoration: none;
}

.kpi-14 {
  font-size: 0.875em;
}

.kpi-15 {
  font-size: 0.9375em;
}

.kpi-17 {
  font-size: 1.0625em;
}

.kpi-18 {
  font-size: 1.125em;
}

.kpi-19 {
  font-size: 1.1875em;
}

.kpi-20 {
  font-size: 1.25em;
}

.bgc-lgray {
  background-color: #f7f7f7;
}

@media screen and (max-width: 37.4375em) {
  .pd-y20 {
    padding-top: 4.6875vw;
    padding-bottom: 4.6875vw;
  }
}

@media screen and (min-width: 37.5em) {
  .pd-y20 {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
}

.pdb-40 {
  padding-bottom: 2.5em;
}

.mt-10 {
  margin-top: 0.625em;
}

@media screen and (max-width: 21.8125em) {
  .rfz {
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 21.875em) and (max-width: 28.0625em) {
  .rfz {
    font-size: 3.09091vw;
  }
}

@media screen and (min-width: 28.125em) and (max-width: 34.3125em) {
  .rfz {
    font-size: 2.54545vw;
  }
}

@media screen and (min-width: 34.375em) and (max-width: 40.5625em) {
  .rfz {
    font-size: 2.18182vw;
  }
}

@media screen and (min-width: 40.625em) and (max-width: 46.8125em) {
  .rfz {
    font-size: 1.92208vw;
  }
}

@media screen and (min-width: 46.875em) and (max-width: 53.0625em) {
  .rfz {
    font-size: 1.72727vw;
  }
}

@media screen and (min-width: 53.125em) and (max-width: 59.3125em) {
  .rfz {
    font-size: 1.57576vw;
  }
}

@media screen and (min-width: 59.375em) and (max-width: 65.5625em) {
  .rfz {
    font-size: 1.45455vw;
  }
}

@media screen and (min-width: 65.625em) and (max-width: 71.8125em) {
  .rfz {
    font-size: 1.34316vw;
  }
}

@media screen and (min-width: 71.875em) and (max-width: 78.0625em) {
  .rfz {
    font-size: 1.27273vw;
  }
}

@media screen and (min-width: 78.125em) and (max-width: 84.3125em) {
  .rfz {
    font-size: 1.2028vw;
  }
}

@media screen and (min-width: 84.375em) and (max-width: 89.9375em) {
  .rfz {
    font-size: 1.11111vw;
  }
}

.c3 {
  color: currentColor;
}

.disclaimers .policy__col {
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .disclaimers .policy__col {
    width: 50%;
  }
}

.acc-fold + .acc-fold {
  margin-top: 0.25em;
}

.acc-title {
  padding: 0.75em 0 0.75em 1.6875em;
  cursor: pointer;
  background: #ececec;
  color: #323232;
}

.acc-title:before {
  content: 'Q.';
  width: 2.0625em;
}

.acc-details {
  display: none;
  padding-left: 1.6875em;
  padding: 0.9375em 0 0.625em 1.6875em;
  color: #666666;
}

.acc-details:before {
  content: 'A.';
  width: 2.0625em;
}

/*

	Header
================================================*/
.header {
  height: 77px;
  color: #fff;
}

.header__logo {
  background-size: contain;
  width: 271px;
  height: 44px;
  background: url(../img/Logowhite.png) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 37.4375em) {
  .header__logo {
    width: 200px;
    height: 32px;
    background-image: url(../img/Logowhite.png);
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .header__logo {
    width: 28.22vw;
    height: 4.58vw;
  }
}

.header__logo__color {
  background: url(../img/Logowhite.png) no-repeat center/contain;
}

@media screen and (max-width: 37.4375em) {
  .header__logo__color {
    background-image: url(../img/Logowhite.png);
  }
}

.header__logo--sub {
  background-image: url(../img/Logowhite.png);
}

.header__cta__copy {
  font-size: 1.063em;
  line-height: 1;
}

.header__cta__phone {
  font-size: 1.625em;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 0 .313em;
  text-shadow: 1px 1px 1px black;
}

.header__cta__bar {
  font-size: 1.188em;
  font-weight: 600;
  /* out of scope for phase 1 */
  display: none;
}

.header__search {
  width: 35px;
  height: 35px;
  margin-left: .813em;
  /* out of scope for phase 1 */
  display: none;
}

.header__search__bg {
  height: 35px;
  border-radius: 18px;
  position: absolute;
  right: 0;
  background: #fff url(../images/search-ico.png) no-repeat;
  background-position: calc(100% - 8px) center;
}

.header__search__btn {
  width: 0px;
  height: 100%;
  padding: 0;
  border: 0;
  background: none;
  transition: .15s width ease;
}

.header__search__input {
  width: 35px;
  border: none;
  background: none;
  padding: 0 10px;
  transition: .15s width ease;
}

.header__search__input:focus {
  width: 165px;
}

.header__search__input:focus + button {
  width: 35px;
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 37.4375em) {
  .header {
    height: 54px;
    background-color: #00a6bc;
    justify-content: space-between;
    align-items: center;
  }
}

.header_cta_copy {
  text-shadow: 1px 1px 1px black;
}

.mbi-ico {
  width: 30px;
  height: 30px;
  background: url(../img/Icon-Cell.svg) no-repeat center;
}

/*

	Navigation
================================================*/
.mnav {
  width: 25px;
  height: 17px;
  position: relative;
  cursor: pointer;
}

.mnav__line {
  height: 2px;
  border-radius: 2px;
  background: #fff;
  transition: .15s;
}

.mnav.active .mnav__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.mnav.active .mnav__line:nth-child(1) {
  transform: rotate(45deg);
}

.mnav.active .mnav__line:nth-child(2) {
  opacity: 0;
}

.mnav.active .mnav__line:nth-child(3) {
  transform: rotate(-45deg);
}

/*This make the homepage mobile nav appear below the header*/
@media screen and (max-width: 37.4375em) {
  .mobileHome__nav {
    position: static !important;
  }
  .mobileHome__nav__btn {
    margin-bottom: 4vw;
  }
  .mobileHome__arrow {
    margin: 0 !important;
  }
}

@media screen and (max-width: 37.4375em) {
  .lmore-gut {
    background-color: #3f3f3f;
    position: absolute;
    width: 100%;
    top: 54px;
    z-index: 20;
  }
}

@media screen and (min-width: 37.5em) {
  .lmore-gut {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%);
  }
}

.lmore {
  color: #fff;
  justify-content: space-between;
}

@media screen and (max-width: 37.4375em) {
  .lmore {
    font-size: 4.375vw;
    padding: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .lmore {
    font-size: 19px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1439px) {
  .lmore {
    font-size: 1.31944vw;
  }
}

.lmore__item {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 7.73684em;
}

@media screen and (min-width: 37.5em) {
  .lmore__item--1 {
    width: 8.52632em;
  }
  .lmore__item--2 {
    width: 7.36842em;
  }
  .lmore__item--3 {
    width: 6.42105em;
  }
  .lmore__item--4 {
    width: 9.15789em;
  }
  .lmore__item--5 {
    width: 5.26316em;
  }
  .lmore__item--6 {
    width: 9.05263em;
  }
  .lmore__item--7 {
    width: 6.94737em;
  }
  .lmore__item:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 37.4375em) {
  .lmore__item {
    height: 2.5em;
    font-weight: 400;
    justify-content: center;
  }
  .lmore__item:hover {
    background-color: #00a6bc;
    text-decoration: none;
  }
  .lmore__item + .lmore__item {
    border-top: 1px solid #5e5f5f;
  }
}

.lmore__item:hover {
  color: #df8d0c;
}

.lmore__item:hover .icon1 {
  background-image: url(../images/Life-Web_Menu-Icons__What-is-Term-Life-Insurance.svg);
}

.lmore__item:hover .icon2 {
  background-image: url(../images/Life-Web_Menu-Icons__How-Much-Do-I-Need.svg);
}

.lmore__item:hover .icon3 {
  background-image: url(../images/Life-Web_Menu-Icons__How-Does-It-Work.svg);
}

.lmore__item:hover .icon4 {
  background-image: url(../images/Life-Web_Menu-Icons__The-SelectQuote-Difference.svg);
}

.lmore__item:hover .icon5 {
  background-image: url(../images/Life-Web_Menu-Icons__Our-Blog.svg);
}

.lmore__item:hover .icon6 {
  background-image: url(../images/Life-Web_Menu-Icons__Auto-Home-Medicare-Insurance.svg);
}

.lmore__item:hover .icon7 {
  background-image: url(../images/Life-Web_Menu-Icons__Contact.svg);
}

@media screen and (max-width: 37.4375em) {
  .lmore__item:hover {
    color: #fff;
  }
}

.lmore__item__selected {
  color: #df8d0c;
}

.lmore__item__selected .icon1 {
  background-image: url(../images/Life-Web_Menu-Icons__What-is-Term-Life-Insurance.svg) !important;
}

.lmore__item__selected .icon2 {
  background-image: url(../images/Life-Web_Menu-Icons__How-Much-Do-I-Need.svg) !important;
}

.lmore__item__selected .icon3 {
  background-image: url(../images/Life-Web_Menu-Icons__How-Does-It-Work.svg) !important;
}

.lmore__item__selected .icon4 {
  background-image: url(../images/Life-Web_Menu-Icons__The-SelectQuote-Difference.svg) !important;
}

.lmore__item__selected .icon5 {
  background-image: url(../images/Life-Web_Menu-Icons__Our-Blog.svg) !important;
}

.lmore__item__selected .icon6 {
  background-image: url(../images/Life-Web_Menu-Icons__Auto-Home-Medicare-Insurance.svg) !important;
}

.lmore__item__selected .icon7 {
  background-image: url(../images/Life-Web_Menu-Icons__Contact.svg) !important;
}

.lmore__icon {
  width: 2.21053em;
  height: 2.21053em;
  margin-right: 0.73684em;
  flex: none;
}

@media screen and (min-width: 37.5em) {
  .lmore__icon {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .lmore__icon.icon1 {
    background-image: url(../images/Life-Web_Menu-Icons-White_What-is-Term-Life-Insurance.svg);
  }
  .lmore__icon.icon2 {
    background-image: url(../images/Life-Web_Menu-Icons-White_How-Much-Do-I-Need.svg);
  }
  .lmore__icon.icon3 {
    background-image: url(../images/Life-Web_Menu-Icons-White_How-Does-It-Work.svg);
  }
  .lmore__icon.icon4 {
    background-image: url(../images/Life-Web_Menu-Icons-White_The-SelectQuote-Difference.svg);
  }
  .lmore__icon.icon5 {
    background-image: url(../images/Life-Web_Menu-Icons-White_Our-Blog.svg);
  }
  .lmore__icon.icon6 {
    background-image: url(../images/Life-Web_Menu-Icons-White_Auto-Home-Medicare-Insurance.svg);
  }
  .lmore__icon.icon7 {
    background-image: url(../images/Life-Web_Menu-Icons-White_Contact.svg);
  }
}

@media screen and (max-width: 37.4375em) {
  .lmore__icon {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .lmore--sub {
    line-height: 1.11765;
  }
}

@media screen and (min-width: 1440px) {
  .lmore--sub {
    font-size: 17px;
  }
  .lmore--sub:before, .lmore--sub:after {
    content: '';
    width: 0.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1439px) {
  .lmore--sub {
    font-size: 1.18056vw;
  }
}

.lmore--sub .lmore__item {
  height: 2.35294em;
}

@media screen and (min-width: 37.5em) {
  .lmore--sub .lmore__item.lmore__item--2 {
    width: 7.94118em;
  }
  .lmore--sub .lmore__item {
    height: 5.23529em;
  }
}

.lmore--sub .lmore__icon {
  width: 2.41176em;
  height: 2.41176em;
  margin-right: 0.64706em;
}

/*

	Banner
================================================*/
.bnr--home {
  color: #fff;
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
  .bnr--home {
    font-size: 1.11vw;
  }
}

.bnr--home__copy {
  width: 42%;
  height: 20%;
}

@media screen and (max-width: 750px) {
  .bnr--home__copy {
    width: 50%;
  }
}

@media screen and (min-width: 600px) and (max-width: 750px) {
  .bnr--home__copy__btm {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 751px) and (max-width: 959px) {
  .bnr--home__copy__btm {
    font-size: 1.5vw;
  }
}

.bnr--home__copy__btm__home {
  width: 33%;
}

.bnr--home__dsk {
  margin-top: 1.688em;
}

.bnr--home__h1, .bnr--home__h2, .bnr--home__h3 {
  font-size: 3.313em;
  line-height: .95;
  margin: 0;
  color: #fff;
}

.bnr--home__h2 {
  line-height: 1.28;
  font-weight: 300;
}

.bnr--home__h3 {
  font-weight: 300;
  width: 40vw;
  line-height: 1.28;
}

.bnr--home__p {
  margin: 1.438em 0;
}

.bnr--home__btn {
  font-size: 1em;
  min-height: initial;
}

.bnr--home__quote {
  background: url(../images/home-quote-bg.png) no-repeat center;
  background-size: cover;
  width: 10.769em;
  height: 10.615em;
  top: 0vw;
  right: 8.813em;
  color: #fff;
  font-size: 13px;
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .bnr--home__quote {
    font-size: 1.3vw;
  }
}

.bnr--home__quote .circle {
  width: calc(100% - 2px);
  height: 100%;
  padding: 5px;
}

.bnr--home__quote .fw-l {
  width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bnr--home__quote {
    right: 4em;
  }
}

.bnr--home__quote__female {
  background: url(../images/home-quote-bg-Female.png) no-repeat center;
  background-size: cover;
  width: 10.769em;
  height: 10.615em;
  top: 9vw;
  right: 17.813em;
  color: #fff;
  font-size: 13px;
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .bnr--home__quote__female {
    font-size: 1.3vw;
  }
}

.bnr--home__quote__female .circle {
  width: calc(100% - 2px);
  height: 100%;
  padding: 5px;
}

.bnr--home__quote__female .fw-l {
  width: 100%;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .bnr--home__quote__female {
    right: 16em;
  }
}

.bnr--portal {
  color: #fff;
  text-align: center;
  padding: 6.875em 18.75em 12.5em;
}

@media screen and (min-width: 37.5em) and (max-width: 90em) {
  .bnr--portal {
    font-size: 1.11111vw;
    padding-left: 19.79167vw;
    padding-right: 19.79167vw;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 50em) {
  .bnr--portal {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }
}

.bnr--portal .bnr__h1,
.bnr--portal .bnr__h2 {
  font-size: 3.4375em;
  line-height: 1.01818;
  margin: 0;
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .bnr--portal .bnr__h1,
  .bnr--portal .bnr__h2 {
    font-size: 4.29688vw;
  }
}

.bnr--portal .bnr__copy {
  font-size: 1.125em;
  padding: 0 0.625em 0;
}

@media screen and (min-width: 37.5em) and (max-width: 50em) {
  .bnr--portal .bnr__copy {
    font-size: 2vw;
  }
}

@media screen and (min-width: 50.0625em) and (max-width: 59.9375em) {
  .bnr--portal .bnr__copy {
    font-size: 1.5vw;
  }
}

/*

	Quote Bar
================================================*/
.qtbar {
  color: #fff;
}

@media screen and (min-width: 37.5em) {
  .qtbar--home {
    margin-top: 3.438em;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar {
    flex-direction: column;
    -ms-flex-direction: row;
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
  .qtbar {
    font-size: 1.11vw;
  }
}

.qtbar__controls {
  /*background-color: rgba(226, 141, 7, 0.95);*/
  background-color: rgb(29, 60, 118);
}

@media screen and (max-width: 37.4375em) {
  .qtbar__controls {
    background-color: #eaa217;
    padding-top: 3.4375vw;
    justify-content: center;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar__controls {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1265px) {
  .qtbar__controls {
    width: 64vw;
    padding-left: 3vw;
  }
}

@media screen and (min-width: 60em) {
  .qtbar__controls {
    padding-left: 4vw;
  }
}

@media screen and (min-width: 80em) {
  .qtbar__controls {
    padding-left: 5vw;
  }
}

@media screen and (min-width: 1266px) {
  .qtbar__controls {
    width: calc( 807px + ((100% - 1266px) / 2));
    height: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .qtbar__controls {
    padding-left: calc((100% - 1266px) / 2);
  }
}

.qtbar__control {
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .qtbar__control {
    width: 50%;
  }
  .qtbar__control:first-child {
    padding-left: 0.8125em;
    padding-right: 4.0625em;
    border-right: 1px solid #efc789;
  }
  .qtbar__control:last-child {
    padding-left: 4.0625em;
    padding-right: 0.8125em;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar__control {
    margin-bottom: -12px;
    padding-bottom: 4.375vw;
  }
  .qtbar__control:first-child {
    z-index: 10;
  }
  .qtbar__control:last-child {
    border-top: 1px solid #c16b14;
    padding-top: 7.1875vw;
    z-index: 9;
  }
}

.qtbar__control__pt {
  padding-left: 4.0625em;
  padding-right: 0.8125em;
}

.qtbar__control__title {
  font-weight: 300;
  line-height: 1;
}

.qtbar__currency {
  font-size: 2.5em;
}

@media screen and (max-width: 37.4375em) {
  .qtbar__currency {
    font-size: 8.90625vw;
  }
}

.qtbar__big {
  font-size: 2.938em;
}

@media screen and (max-width: 37.4375em) {
  .qtbar__big {
    font-size: 12.34375vw;
  }
}

.qtbar__control__chain {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .qtbar__control__chain {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .qtbar__control__chain {
    font-size: 11px;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar__control__chain {
    font-size: 2.8125vw;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  .qtbar__control__chain .bdr-xs {
    padding-left: 2.8125vw;
    border-left: 1px solid #c16b14;
  }
  .qtbar__control__chain.first {
    width: 28.125vw;
  }
  .qtbar__control__chain.second {
    width: 34.375vw;
  }
}

.qtbar__help {
  width: 1.6875em;
  height: 1.6875em;
  margin-left: 0.8125em;
  border: 1px solid #fff;
  background-color: rgb(255,64,129);
  border-radius: 50%;
}

@media screen and (max-width: 37.4375em) {
  .qtbar__help {
    font-size: 6.25vw;
    margin-left: 2.1875vw;
  }
}

.qtbar__modal {
  background-color: #fff;
  border: 2px solid #c76b0b;
  border-radius: 0.625em;
  color: #666666;
  font-weight: 400;
  position: absolute;
  padding: 2em 2.6875em;
  z-index: 1;
}

.qtbar__modal__copy {
  font-size: 1.125em;
}

.qtbar__modal:before {
  background: transparent url(../images/qtbar_modal_arrow.png) no-repeat center;
  background-size: contain;
  content: '';
  display: block;
  position: absolute;
  left: 7.8125em;
  top: -1.25em;
  height: 1.25em;
  width: 3.125em;
}

@media screen and (max-width: 37.4375em) {
  .qtbar__modal:before {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar__modal {
    font-size: 3.33333vw;
    right: 0;
    top: 4.375em;
    width: 87vw;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar__modal {
    width: 26.875em;
    top: 3.0625em;
    left: -8.71875em;
  }
  .qtbar__modal--length {
    width: 33.125em;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .qtbar__modal {
    font-size: 1.26316vw;
  }
}

.qtbar__modal__opener {
  width: 100%;
}

.qtbar .md-track {
  background: #fff;
}

.qtbar .md-thumb {
  transform: scale(1);
}

.qtbar .md-thumb:hover {
  transform: scale(1) !important;
}

.qtbar .md-thumb:after {
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #d3c6b1 100%);
  border-color: #eaa217;
}

@media screen and (min-width: 37.5em) {
  .qtbar .md-thumb:after {
    border-color: #df8d0c;
  }
}

.qtbar__spratr {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 37.4375em) {
  .qtbar__spratr {
    background-image: url(../images/qtbar-separator-xs.png);
    height: 11.5625vw;
    width: 100%;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar__spratr {
    width: 4.625em;
    background-image: url(../images/qtbar-separator.png);
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar__copy {
    background: #c16b14;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar__copy {
    background: url(../images/qtbar-repeat-2nd.png) repeat;
    padding-right: 3vw;
  }
}

@media screen and (min-width: 60em) {
  .qtbar__copy {
    padding-right: 4vw;
  }
}

@media screen and (min-width: 80em) {
  .qtbar__copy {
    padding-right: 5vw;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .qtbar__copy {
    padding-right: calc((100% - 1266px) / 2);
  }
}

.qtbar__btn {
  background-color: #00a6bc;
  /*border: 2px solid #fff;*/
}

@media screen and (min-width: 37.5em) {
  .qtbar__btn {
    font-size: 1.3125em;
    height: 2.68182em;
    line-height: 2.5em;
    padding: 0 2em;
    margin-bottom: 0.59091em;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar__btn {
    font-size: 5.78125vw;
    height: 10.9375vw;
    line-height: 9.6875vw;
    padding: 0 5.9375vw;
    font-weight: 400;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar__btn__hint {
    width: 83.11688%;
  }
}

@media screen and (max-width: 800px) {
  .qtbar__btn__hint {
    font-size: 1.375vw;
  }
}

@media screen and (max-width: 700px) {
  .qtbar__btn__hint {
    font-size: 1.57143vw;
  }
}

@media screen and (max-width: 599px) {
  .qtbar__btn__hint {
    font-size: 4.375vw;
    margin: 4.0625vw 0 3.125vw;
    width: 100%;
  }
}

.qtbar__up-arrow {
  background: url(../images/Mobile-Arrow.svg) no-repeat center;
  background-size: 100% 100%;
  width: 8.4375vw;
  height: 5.3125vw;
  margin: 8.75vw auto 4.0625vw;
}

@media screen and (max-width: 37.4375em) {
  .qtbar--portal .qtbar__controls {
    background-color: #c16b14;
    padding-top: 8.75vw;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar--portal .qtbar__controls {
    height: 18.79937vw;
    max-height: 238px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 1265px) {
  .qtbar--portal .qtbar__controls {
    width: 34.75513vw;
  }
}

@media screen and (min-width: 1266px) {
  .qtbar--portal .qtbar__controls {
    width: calc( 440px + ((100% - 1266px) / 2));
  }
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
  .qtbar--portal .qtbar__controls {
    font-size: 1.11vw;
  }
}

.qtbar--portal .big {
  font-size: 3.5625em;
}

@media screen and (max-width: 37.4375em) {
  .qtbar--portal .big {
    font-size: 10vw;
    line-height: 1.09375;
  }
}

.qtbar--portal .small {
  font-size: 1.1875em;
}

@media screen and (max-width: 37.4375em) {
  .qtbar--portal .small {
    font-size: 4.375vw;
    margin: 6.25vw 0;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar--portal .qtbar__copy {
    background-color: #eaa217;
    padding: 9.375vw 0 11.5625vw;
  }
}

.qtbar--portal .qtbar__btn {
  flex: 1;
  text-align: center;
  margin: 0 0 0 1em;
  padding: 0;
}

@media screen and (max-width: 37.4375em) {
  .qtbar--portal .qtbar__btn {
    width: 70.9375vw;
    height: 12.1875vw;
    margin: 5.625vw 0;
  }
}

@media screen and (min-width: 37.5em) {
  .qtbar--sub {
    margin-top: 1.5em;
  }
  .qtbar--sub .qtbar__controls {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
  }
  .qtbar--sub .qtbar__control {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .qtbar--sub .qtbar__control:first-child {
    padding-left: 0;
    padding-right: 2.8125em;
  }
  .qtbar--sub .qtbar__control:last-child {
    padding-left: 4.375em;
    padding-right: 0;
  }
  .qtbar--sub .qtbar__control__title {
    order: 1;
  }
  .qtbar--sub .qtbar__control__slide {
    order: 3;
    width: 100%;
  }
  .qtbar--sub .qtbar__control__chain {
    order: 2;
    width: 32.25806%;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    line-height: 1.125;
  }
  .qtbar--sub .qtbar__control__chain:before {
    content: '';
    width: 1px;
    height: 2em;
    flex: none;
    background-color: #efc788;
    margin-right: 0.625em;
  }
  .qtbar--sub .qtbar__currency {
    font-size: 1.6875em;
  }
  .qtbar--sub .qtbar__big {
    font-size: 2.625em;
  }
  .qtbar--sub .qtbar__btn {
    font-size: 1.3125em;
    height: 2.66667em;
    line-height: 2.47619em;
    padding: 0 2em;
    margin-bottom: 0.38095em;
  }
  .qtbar--sub .qtbar__btn__hint {
    font-size: 0.875em;
  }
}

@media screen and (max-width: 37.4375em) {
  .qtbar--sub {
    display: none;
  }
}

/*

	Footer
================================================*/
@media screen and (max-width: 37.4375em) {
  .footr {
    font-size: 14px;
  }
}

@media screen and (max-width: 37.4375em) {
  .footr--encase {
    padding-left: 0;
    padding-right: 0;
  }
}

.footr__up {
  /*margin-top:2em;*/
}

@media screen and (min-width: 37.5em) {
  .footr__up {
    background: linear-gradient(to right, #ececec 0%, #ececec 50%, #dddddd 50%, #dddddd 100%);
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .footr__up {
    font-size: 1.56413vw;
  }
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .footr__up {
    font-size: 1.25vw;
  }
}

.footr__left {
  background-color: #ececec;
  color: #8a898a;
}

@media screen and (max-width: 37.4375em) {
  .footr__left {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4.6875vw;
    padding: 3.75vw 16px;
  }
}

@media screen and (min-width: 37.5em) {
  .footr__left {
    width: 79%;
    align-items: center;
  }
}

.footr__right {
  cursor: pointer;
}

.footr__h4 {
  font-size: 1.3125em;
  margin: 0;
  line-height: 1.71429;
  color: #00a6bc;
}

@media screen and (max-width: 37.4375em) {
  .footr__h4 {
    line-height: 1.2;
    margin: 0.42857em 0;
  }
}

.footr__p {
  font-size: 0.9375em;
  margin: 0;
}

.footr__p__a {
  color: #00a6bc;
}

@media screen and (min-width: 37.5em) {
  .footr__copy {
    width: 55.5102%;
    padding-left: 30px;
  }
}

.footr__lists {
  padding: 3.57143% 0 3.57143% 0;
}

@media screen and (min-width: 37.5em) {
  .footr__lists {
    padding-left: 2.04082%;
    padding-right: 6.12245%;
    flex: 1;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .footr__lists {
    font-size: 1.45985vw;
  }
}

.footr__list {
  width: 50%;
  font-size: 1.0625em;
  display: flex;
  align-items: center;
}

.footr__list:before {
  content: '';
  width: 0.94118em;
  height: 0.76471em;
  margin-right: 0.47059em;
  background: url(../images/check-mark.png) no-repeat center;
  background-size: contain;
  display: block;
}

@media screen and (min-width: 37.5em) {
  .footr__list {
    padding-left: 1.17647em;
  }
}

.footr__right {
  background-color: #dddddd;
  color: #666666;
  padding: 1em 0;
  line-height: 1;
}

@media screen and (min-width: 37.5em) {
  .footr__right {
    flex: 1;
  }
}

@media screen and (max-width: 37.4375em) {
  .footr__right {
    padding: 6.875vw 0;
  }
}

.footr__great {
  font-size: 1.125em;
  line-height: 1.44444;
}

.footr__powered-by {
  font-size: 0.75em;
}

.footr__1stars {
  width: 6.125em;
  height: 1.4375em;
  margin: 0.375em 0 0.9375em;
  background: url(../images/review-1-star.png) no-repeat center;
  background-size: contain;
}

.footr__2stars {
  width: 6.125em;
  height: 1.4375em;
  margin: 0.375em 0 0.9375em;
  background: url(../images/review-2-star.png) no-repeat center;
  background-size: contain;
}

.footr__3stars {
  width: 6.125em;
  height: 1.4375em;
  margin: 0.375em 0 0.9375em;
  background: url(../images/review-3-star.png) no-repeat center;
  background-size: contain;
}

.footr__4stars {
  width: 6.125em;
  height: 1.4375em;
  margin: 0.375em 0 0.9375em;
  background: url(../images/review-4-star.png) no-repeat center;
  background-size: contain;
}

.footr__5stars {
  width: 6.125em;
  height: 1.4375em;
  margin: 0.375em 0 0.9375em;
  background: url(../images/review-5-star.png) no-repeat center;
  background-size: contain;
}

.footr__img-trustpiot {
  width: 6.3125em;
  height: 0.6875em;
  margin-left: 0.5em;
}

.footr__down {
  color: #b2b2b2;
  font-size: 0.6875em;
  margin: 3.09091em auto;
}

.footr__social {
  width: 3.27273em;
  height: 3.27273em;
}

.footr__social img {
  max-width: 100%;
}

.footr__social + .footr__social {
  margin-left: 1.09091em;
}

.footr__stack {
  margin: 0.63636em 0;
}

.footr__stack--socials {
  margin: 0 0 1.63636em;
}

/*

	Template : Home
=====================================*/
.mbg--home {
  background-image: url(../images/coupleDancing.jpg);
}

.btn.bnr--home__btn {
  background-color: #c56c2a;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 2em;
}

.btn.bnr--home__btn:hover {
  background-color: #df8d0c;
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .btn.bnr--home__btn {
    padding: 0 1em;
  }
}

/*

	Template : Home
=====================================*/
.mbg--portal {
  background-image: url(../images/main-bg-portal.jpg);
}

.headportal {
  width: 100%;
}

.headportal__big {
  width: 100%;
}

.headportal__small {
  width: 100%;
}

@media screen and (max-width: 37.4375em) {
  .f11aiem__life {
    flex: 1 1 auto !important;
  }
  .f11aiem__home {
    flex: 1 1 auto !important;
  }
  .f11aiem__senior {
    flex: 1 1 auto !important;
  }
}

/*

	Template : Page - Content
=====================================*/
@media screen and (max-width: 37.4375em) {
  .p-ctnt {
    color: #322f2f;
  }
}

@media screen and (min-width: 37.5em) {
  .p-ctnt {
    margin-top: 3.9375em;
    color: #8a898a;
  }
}

.p-ctnt .btn--get-quotes {
  margin-top: 0;
}

@media screen and (min-width: 37.5em) {
  .p-ctnt__figure img {
    width: 100%;
  }
}

@media screen and (max-width: 37.4375em) {
  .p-ctnt__figure img {
    width: 100vw;
  }
}

@media screen and (max-width: 37.4375em) {
  .p-ctnt__figure {
    margin: 7.5vw 0 6.25vw -16px;
    width: 100vw;
  }
}

@media screen and (min-width: 37.5em) {
  .p-ctnt__figure {
    width: 41.34387vw;
    max-width: 523px;
  }
}

.p-ctnt__copy {
  flex: 1;
  align-items: flex-start;
}

@media screen and (min-width: 37.5em) {
  .p-ctnt__copy {
    padding-left: 8.14229vw;
  }
}

@media screen and (min-width: 90em) {
  .p-ctnt__copy {
    padding-left: 103px;
  }
}

.p-ctnt__copy__p {
  margin: 0 0 1.11111em 0;
}

@media screen and (min-width: 37.5em) {
  .p-ctnt__copy__p {
    font-size: 1.125em;
  }
}

@media screen and (max-width: 37.4375em) {
  .p-ctnt__copy__p {
    font-size: 0.75em;
  }
}

/*

	Template : Page - How Does Work
=====================================*/
@media screen and (min-width: 37.5em) {
  .ctnt--hdwork {
    background: linear-gradient(to right, #f7f7f7 0%, #f7f7f7 50%, #fff 50%, #fff 100%);
  }
}

.hdwork__left {
  color: #323232;
}

@media screen and (min-width: 37.5em) {
  .hdwork__left {
    background: #f7f7f7;
    padding-right: 0.625em;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .hdwork__left {
    width: 23.33333vw;
  }
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .hdwork__left {
    width: 20.83333vw;
  }
}

@media screen and (min-width: 80em) {
  .hdwork__left {
    width: 17.5em;
  }
}

.hdwork__left__h3 {
  margin: 1.25em 0 0.9375em;
  font-size: 1.3125em;
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .hdwork__left__h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .hdwork__left__h3 {
    font-size: 1.375em;
  }
}

.hdwork__right {
  background: #fff;
}

@media screen and (max-width: 37.4375em) {
  .hdwork__right.ctnt--pdb {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 37.5em) {
  .hdwork__right {
    padding-left: 6.125em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 37.4375em) {
  .hdwork__logos {
    justify-content: space-between;
  }
}

@media screen and (min-width: 37.5em) {
  .hdwork__logos:before {
    content: '';
    width: 57.26872%;
    height: 0.125em;
    margin-bottom: 2.8125em;
    background-color: #c9c9c9;
    display: block;
  }
}

.hdwork__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25em;
}

@media screen and (min-width: 37.5em) {
  .hdwork__logo__aig {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 37.4375em) {
  .hdwork__logo {
    margin-bottom: 3.75vw;
    padding: 1.5625vw;
    width: 26.875vw;
    height: 26.875vw;
    border: 1px solid #ededed;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .hdwork__logo {
    width: 45.12635%;
  }
}

@media screen and (min-width: 60em) {
  .hdwork__logo {
    width: 54.15162%;
  }
}

.hdwork__logo img {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 37.4375em) {
  .btn--hdwork {
    margin: 7.5vw auto 6.875vw;
  }
}

@media screen and (min-width: 37.5em) {
  .btn--hdwork {
    margin: 2.375em auto 3.625em;
  }
}

@media screen and (min-width: 37.5em) {
  .hiw {
    margin-bottom: 0;
  }
}

.def {
  counter-reset: defCounter;
  margin: 0;
}

@media screen and (max-width: 37.4375em) {
  .def {
    padding-left: 13.75vw;
    font-size: 0.75em;
  }
}

@media screen and (min-width: 37.5em) {
  .def {
    padding-left: 2.75em;
  }
}

.def__dt {
  font-weight: 700;
  color: #323232;
}

@media screen and (min-width: 37.5em) {
  .def__dt {
    font-size: 1.1875em;
    line-height: 1.52632em;
  }
}

.def__dt:before {
  content: counter(defCounter);
  counter-increment: defCounter;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

@media screen and (max-width: 37.4375em) {
  .def__dt:before {
    font-size: 1.16667em;
    width: 8.125vw;
    height: 8.125vw;
    color: #f2822b;
    border: 3px solid #f2822b;
  }
}

@media screen and (min-width: 37.5em) {
  .def__dt:before {
    font-size: 0.78947em;
    width: 1.93333em;
    height: 1.93333em;
    background-color: #df8d0c;
  }
}

@media screen and (max-width: 37.4375em) {
  .def__dd {
    margin: 0 0 1.66667em;
    color: #322f2f;
  }
}

@media screen and (min-width: 37.5em) {
  .def__dd {
    margin: 0 0 1.875em;
    color: #8a898a;
  }
}

.def__p {
  margin: 0;
}

@media screen and (min-width: 37.5em) {
  .def__p {
    margin: 0.5em 0 1.25em;
  }
}

/*

	Template : Page - Companies
=====================================*/
.companies {
  background: #f7f7f7;
}

@media screen and (max-width: 37.4375em) {
  .clogos {
    justify-content: space-between;
  }
}

@media screen and (max-width: 37.4375em) {
  .clogo {
    width: 45%;
    margin-bottom: 4.6875vw;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 37.5em) {
  .clogo {
    width: 25%;
    margin-bottom: 4em;
    align-items: center;
    justify-content: center;
  }
}

.clogo img {
  max-width: 100%;
  width: 100%;
}

.clogo__img {
  width: 100%;
}

.clogo__info {
  color: #323232;
  text-align: center;
  padding-top: 1.125em;
}

@media screen and (max-width: 37.4375em) {
  .clogo__info {
    font-size: 0.625em;
    height: 4.5em;
  }
}

@media screen and (min-width: 37.5em) {
  .clogo__info {
    font-size: 0.9375em;
    height: 4.26667em;
  }
}

.company-single {
  color: #323232;
}

.company-single .darker {
  color: #323232;
}

@media screen and (min-width: 37.5em) {
  .company-single {
    background: #f7f7f7;
    font-size: 1.1875em;
  }
}

.company-single .back {
  width: 2.42105em;
  height: 2.42105em;
  background: #b3b4b3 url(../images/x.png) no-repeat center;
  border-radius: 50%;
  right: 0;
  top: -1.05263em;
}

.company-single .view-more {
  font-size: 3.75vw;
  top: 7.8125vw;
  color: #a8a8aa;
}

.view-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.other-companies {
  top: 37vw;
  left: 0;
  color: #fff;
  z-index: 99;
}

.other-company {
  font-size: 4.375vw;
  display: flex;
  align-items: center;
  height: 16.5625vw;
  padding: 0 11.25vw 0 6.25vw;
  background: #3f3f3f;
  border-bottom: 1px solid #5e5f5f;
}

.other-company.active, .other-company:hover {
  background: #00a6bc;
  text-decoration: none;
}

@media screen and (min-width: 37.5em) {
  .cmp-sectn-a {
    width: 28.85375%;
  }
}

@media screen and (max-width: 37.4375em) {
  .cmp-sectn-a {
    align-items: center;
    width: 100%;
  }
}

.cmp-sectn-a .btn {
  margin-bottom: 8.4375vw;
}

@media screen and (max-width: 37.4375em) {
  .cmp-logo {
    width: 33.125vw;
    margin: 3.125vw 0;
    height: 82px;
  }
}

@media screen and (min-width: 37.5em) {
  .cmp-logo {
    margin: 1.05263em 0;
  }
}

@media screen and (max-width: 37.4375em) {
  .cmp-sectn-b {
    padding-bottom: 7.8125vw;
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 37.5em) {
  .cmp-sectn-b {
    padding: 0.57895em 2.94737em 4.21053em;
  }
}

.cmp-sectn-b .copy {
  color: #8a898a;
  font-size: 0.94737em;
  margin: 0 0 0.83333em;
}

.cmp-sectn-b .copy-inside {
  font-size: 0.94737em;
}

.cmp-sectn-b .copy-list {
  font-size: 0.94737em;
}

.cmp-sectn-b .link {
  color: currentColor;
}

.table {
  border: 1px solid grey;
}

/*

	Template : Page - Executive Team
=====================================*/
@media screen and (max-width: 37.4375em) {
  .exfold {
    margin-bottom: 9.375vw;
  }
}

@media screen and (min-width: 37.5em) {
  .exfold {
    width: 88.53755%;
    margin: 0 auto 2.8125em;
  }
}

@media screen and (min-width: 37.5em) {
  .exfold .chead__sib {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 37.4375em) {
  .eteam {
    flex-direction: column;
    font-size: 0.75em;
    margin-bottom: 9.375vw;
  }
}

@media screen and (min-width: 37.5em) {
  .eteam {
    width: 88.53755%;
    margin: 0 auto 5em;
  }
}

@media screen and (max-width: 37.4375em) {
  .eteam--divider {
    font-size: 6.875vw;
  }
}

@media screen and (min-width: 37.5em) {
  .eteam--divider {
    margin-top: -0.21212em;
    margin-bottom: 2.06061em;
  }
}

@media screen and (max-width: 37.4375em) {
  .eteam__fig {
    width: 37.5vw;
    margin: 0 auto 4.6875vw;
    height: 60vw;
  }
}

@media screen and (min-width: 37.5em) {
  .eteam__fig {
    width: 25.625%;
  }
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .eteam__fig {
    height: 30vw;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .eteam__fig {
    height: 30vw;
  }
}

.eteam__portrait {
  max-width: 100%;
  display: block;
}

@media screen and (min-width: 37.5em) {
  .eteam__desc {
    padding-left: 2em;
    color: #323232;
  }
}

.eteam__name {
  font-size: 1.1875em;
  font-weight: 700;
}

.eteam__desig {
  font-size: 1.1875em;
}

.eteam__about {
  font-size: 1.0625em;
  margin-top: 0.47059em;
}

/*

	Template : Page - Reviews
=====================================*/
.revw-stripe {
  color: #666666;
}

.revw-stripe .flue-1 {
  font-size: 1.3125em;
}

.revw-stripe .rvw__5star {
  margin: 0.625em 0 0.9375em;
}

.revw-stripe .rvw__4star {
  margin: 0.625em 0 0.9375em;
}

.revw-stripe .rvw__3star {
  margin: 0.625em 0 0.9375em;
}

.revw-stripe .rvw__2star {
  margin: 0.625em 0 0.9375em;
}

.revw-stripe .rvw__1star {
  margin: 0.625em 0 0.9375em;
}

.revw-stripe .flue-3__powered-by {
  font-size: 0.875em;
}

.revw-stripe .flue-3__trust-pilot {
  width: 7.8125em;
  height: 0.875em;
  margin-left: 0.6875em;
  background: url(../images/icon-trustpilot-big.png) no-repeat center;
  background-size: contain;
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .reviews {
    justify-content: space-around;
  }
}

.rvw {
  border: 1px solid #c0bbb3;
  color: #323232;
  padding: 1.875em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 37.5em) {
  .rvw {
    width: 23.4375%;
    padding-left: 2.5em;
  }
}

@media screen and (min-width: 60em) and (max-width: 79.9375em) {
  .rvw {
    width: 30%;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .rvw {
    width: 42.85714%;
  }
}

.rvw__name {
  font-size: 1.25em;
}

.rvw__head {
  font-size: 1.125em;
  font-weight: 700;
}

.rvw__details {
  font-size: 1.0625em;
  margin-top: 0.35294em;
  color: #8a898a;
}

@media screen and (max-width: 599px) {
  .rvw {
    flex-grow: 1;
  }
}

.rvw__5star {
  width: 7.5625em;
  height: 1.8125em;
  margin: 0.75em 0 0.8125em;
  background: url(../images/review-5-star-big.png) no-repeat center;
  background-size: contain;
}

.rvw__4star {
  width: 7.5625em;
  height: 1.8125em;
  margin: 0.75em 0 0.8125em;
  background: url(../images/review-4-star-big.png) no-repeat center;
  background-size: contain;
}

.rvw__3star {
  width: 7.5625em;
  height: 1.8125em;
  margin: 0.75em 0 0.8125em;
  background: url(../images/review-3-star-big.png) no-repeat center;
  background-size: contain;
}

.rvw__2star {
  width: 7.5625em;
  height: 1.8125em;
  margin: 0.75em 0 0.8125em;
  background: url(../images/review-2-star-big.png) no-repeat center;
  background-size: contain;
}

.rvw__1star {
  width: 7.5625em;
  height: 1.8125em;
  margin: 0.75em 0 0.8125em;
  background: url(../images/review-1-star-big.png) no-repeat center;
  background-size: contain;
}

/*

	Template : Page - Other Brands
=====================================*/
@media screen and (max-width: 37.4375em) {
  .obrnd__col {
    padding: 1.25em 0;
    width: 100%;
  }
}

@media screen and (min-width: 37.5em) {
  .obrnd__col {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    text-align: center;
    width: 50%;
    align-items: center;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .obrnd .pad {
    padding-left: 1.5625em;
    padding-right: 1.5625em;
  }
}

@media screen and (min-width: 60em) {
  .obrnd .pad {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

.obrnd__img {
  width: 80.55556%;
  max-height: 70px;
}

@media screen and (max-width: 37.4375em) {
  .obrnd__img {
    margin-bottom: 2.5em;
    width: 74.07407%;
  }
}

@media screen and (min-width: 37.5em) {
  .obrnd__img {
    margin-bottom: 3.3125em;
  }
}

.obrnd__img _:-ms-fullscreen, .obrnd__img :root .ie11up {
  display: none;
}

.obrnd__fz {
  font-size: 1.125em;
}

.obrnd__title {
  font-weight: 700;
  margin-bottom: 0.625em;
}

.obrnd__copy {
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .obrnd__copy.left {
    border-right: 1px solid #acacac;
  }
}

.obrnd__desc {
  width: 100%;
  color: #8a898a;
}

.obrnd .btn--get-quotes {
  margin-bottom: 0;
}

@media screen and (min-width: 37.5em) {
  #medicareMobile {
    display: none;
  }
}

@media screen and (max-width: 37.4375em) {
  #medicareDesktop {
    display: none;
  }
}

/*

	Template : Page - Contact
=====================================*/
.kntk {
  color: #a6a6a6;
}

@media screen and (min-width: 37.5em) {
  .kntk {
    margin-top: 1.3125em;
    justify-content: space-between;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .kntk__kol {
    width: 31%;
  }
}

@media screen and (min-width: 60em) {
  .kntk__kol {
    width: 29.64427%;
  }
}

.kntk__mod {
  margin-bottom: 3.125em;
}

@media screen and (max-width: 37.4375em) {
  .kntk__mod {
    margin-bottom: 1.875em;
  }
}

.kntk__title {
  color: #323232;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.kntk__social {
  width: 2.25em;
  height: 2.25em;
  padding: 0.4375em;
  background: #df8d0c;
  border-radius: 50%;
  margin-right: 0.75em;
}

.kntk__social.ln {
  padding: 0.4375em 0 0.5625em;
}

.kntk__social__icon {
  max-width: 100%;
  max-height: 100%;
}

.kntk .link {
  color: currentColor;
  font-weight: 700;
  overflow: hidden;
  /*		display: block; */
  text-overflow: ellipsis;
}

/*

	Template : Page - FAQ
=====================================*/
@media screen and (min-width: 37.5em) {
  .faq__nav {
    width: 23.71542%;
  }
}

@media screen and (min-width: 37.5em) {
  .faq__content {
    padding-left: 1.25em;
  }
}

@media screen and (max-width: 37.4375em) {
  .faq__content {
    margin-top: 1.875em;
  }
}

.faq__nav-item {
  cursor: pointer;
  margin-bottom: 0.75em;
}

.faq__title {
  font-weight: 700;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 1.25em;
}

@media screen and (max-width: 37.4375em) {
  .faq__group .kpi-18 {
    font-size: 1em;
  }
}

@media screen and (max-width: 59.375em) {
  .faq__q {
    line-height: 1.05;
  }
}

.faq__group {
  margin-bottom: 3em;
}

/*

	Template : Page - Policies
=====================================*/
.policy {
  color: #323232;
  font-weight: 700;
}

@media screen and (min-width: 80em) {
  .policy {
    justify-content: space-between;
  }
}

@media screen and (min-width: 37.5em) {
  .policy__col {
    padding: 0 1.5625em;
  }
}

.policy .plink {
  margin-bottom: 0.375em;
  text-decoration: underline;
}

.policy .plink:hover {
  text-decoration: none;
}

.link--policy {
  color: #323232;
}

.encase.bnr.bnr--calc {
  padding-top: 3vw;
}

.bot-links-clear {
  font-size: 1vw;
  text-align: center;
  color: grey;
  padding-bottom: 3vw;
}

/*

	Template : Page - Error
=====================================*/
@media screen and (max-width: 37.4375em) {
  .erhead {
    font-size: 6.875vw;
  }
}

@media screen and (min-width: 37.5em) {
  .erhead {
    font-size: 4em;
  }
}

.erp {
  margin: 0px;
}

@media screen and (max-width: 37.4375em) {
  .erp {
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 37.5em) {
  .erp {
    font-size: 1.8em;
  }
}

.rectangle {
  align-self: center;
  width: 187px;
  height: 6px;
  background: #1aa5ba;
}

@media screen and (max-width: 37.4375em) {
  .rectangle {
    margin: 7vw 0;
  }
}

@media screen and (min-width: 37.5em) {
  .rectangle {
    margin: 3em 0;
  }
}

/*

	Template : Page - Optout
=====================================*/
@media screen and (min-width: 37.5em) {
  .sectop {
    padding-top: 50px;
  }
  .secbot {
    padding-bottom: 50px;
  }
}

.epchead {
  margin-bottom: 0px;
}

.rflp {
  margin-top: 5px !important;
  padding-bottom: 20px;
}

.secbtn {
  padding-top: 1em;
}

.optout .opt__col {
  width: 100%;
}

@media screen and (min-width: 37.5em) {
  .optout .opt__col {
    width: 40%;
  }
}

@media screen and (max-width: 37.4375em) {
  .optout .opt__col20 {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  .optout .opt__col20 {
    width: 20%;
  }
}

.head {
  font-weight: 300;
}

@media screen and (max-width: 37.4375em) {
  .head {
    font-size: 6.875vw;
    line-height: 1.18182;
    color: #f17c21;
  }
}

@media screen and (min-width: 37.5em) {
  .head {
    font-size: 2.0625em;
    line-height: 1.06061;
    color: #323232;
  }
}

.head__sib {
  margin: 1.22222em 0 1em;
}

@media screen and (max-width: 37.4375em) {
  .head__sib {
    font-size: 0.9375em;
    color: #322f2f;
  }
}

@media screen and (min-width: 37.5em) {
  .head__sib {
    font-size: 1.125em;
    color: #8a898a;
  }
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .head__sib {
    font-size: 1.33333vw;
  }
}

.head__sib__radio {
  margin-top: 0px;
}

@media screen and (min-width: 37.5em) and (max-width: 59.9375em) {
  .head__sib__radio > input {
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 37.4375em) {
  .head__sib__radio > input {
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 60em) {
  .head__sib__radio > input {
    vertical-align: top;
    margin-top: 7px;
  }
}

.head__sib__error {
  color: red;
}

.mt0 {
  margin-top: 0;
}

.ref {
  display: inline;
}

.head__sib.dfc.ref > span {
  color: #df8d0c;
}

@media screen and (min-width: 37.5em) {
  .btn_optout {
    align-items: left;
  }
  .submit {
    width: 40%;
    text-align: center;
  }
}

.opttext {
  width: 100%;
  background: #f8f7f7;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
  color: #8a898a;
}

.txtarea {
  padding-bottom: 0;
  padding-top: 1em;
}

.unsubscribe {
  width: 100%;
  background: #f8f7f7;
  height: 35px;
  border: 1px solid #aaaaaa;
  padding-left: 5px;
  color: #8a898a;
}

/*Standard css*/
.fof {
  background: rgba(27, 166, 187, 0.79) none repeat scroll 0 0;
  /*Greater than 600px*/
  /*Less than 600px*/
}

.fof__head {
  color: white;
  text-align: center;
  font-weight: normal;
}

.fof__cb {
  text-align: center;
}

.fof__btn {
  text-align: center;
}

.fof__p {
  color: white;
}

@media screen and (min-width: 37.5em) {
  .fof {
    margin-bottom: 6em;
    width: 42%;
  }
  .fof__head {
    padding-top: 75px;
  }
  .fof__btn {
    padding-bottom: 75px;
  }
  .fof__btncopy {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
  }
  .fof__btncopy {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
    font-size: 1.25em;
    padding: 0 3.5em;
    height: 2.25em;
    line-height: 2.25em;
  }
}

@media screen and (max-width: 37.4375em) {
  .fof {
    width: 100%;
    padding: 50px 15px;
  }
  .fof__head {
    font-size: 6.875vw;
  }
  .fof__btn {
    padding-bottom: 0px;
  }
  .fof__p {
    font-size: 3.75vw;
  }
  .fof__btncopy {
    font-size: 1.125em;
    height: 2.16667em;
    line-height: 1.94444em;
  }
}

@media screen and (min-width: 37.5em) {
  .mbg-404 {
    background-image: url(../images/404-header.jpg) !important;
    background-position: center bottom;
  }
}

@media screen and (max-width: 37.4375em) {
  .bnr--home__dsk {
    margin: 3.688em 1em;
  }
}

.qtbar__tydivcopy {
  font-size: 1.25em;
}

.qtbar__rate {
  font-size: 4.5em;
  align-self: center;
  margin: -0.8vw 0 -0.6vw;
}

.qtbar__rateyr {
  font-size: .9em;
  color: #eca027;
}

.subhead {
  padding-right: 0;
  padding-left: 1vw;
}

.subhead__fr {
  align-items: flex-start;
  padding-left: 2vw;
  padding-right: 1vw;
}

.blueDiv {
  height: 300px;
  margin: auto;
  background-color: #00a5bc;
  text-align: center;
}

.blueDiv__outer {
  width: 90%;
  margin: auto;
  background-color: #00a5bc;
}

.blueDiv__inner {
  margin: auto;
  background-color: #00a5bc;
  text-align: center;
}

.blueDiv__logo {
  display: block;
  margin: auto;
  height: 40px;
}

.blueDiv__logo__div {
  padding-top: 50px;
}

.blueDiv__header {
  color: white;
  font-size: 30px;
  margin: 10px auto 20px;
}

.blueDiv__body {
  color: white;
  margin: auto auto 20px;
}

.blueDiv__contact {
  color: white;
}

@media (max-width: 600px) {
  .blueDiv .blueDiv {
    height: 350px;
    margin: auto;
    background-color: #00a5bc;
    text-align: center;
  }
}

.tyamount__currency {
  line-height: 1.25;
  font-size: 2em !important;
}

.tyamount__mo {
  line-height: 1.6;
  align-self: flex-end;
}

.tyhead__copy {
  font-weight: 500;
}

.tycarriers {
  padding-top: 1em;
  /*IE10 and up*/
}

.tycarriers__logo {
  width: 14.25%;
  margin-bottom: 1em;
}

.tycarriers__img {
  width: 55%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tycarriers__img {
    height: 100%;
  }
}

.tyleft__pricing {
  align-self: center;
}

.tyleft__currency {
  font-size: 2em;
  line-height: 1.2;
}

.tyleft__mo {
  align-self: flex-end;
  font-size: 1.5em;
  line-height: 2;
}

.tyleft__w70 {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 949px) {
  .tyleft__w70 {
    width: 90%;
  }
}

@media screen and (min-width: 599px) and (max-width: 649px) {
  .tyleft__btn {
    font-size: 1.11em !important;
  }
}

.tyleft__quote {
  background: #df8d0c;
  border: 2px solid #bf6409;
  border-radius: 10px;
  color: #ffffff;
}

.tyleft__bottom {
  background: #bf6409;
  font-size: .825em;
}

.tyleft__pd {
  padding: 1.25em 2.5em;
}

.tyleft__ratebody {
  align-self: center;
  font-size: 3em;
  margin-top: -0.5vw;
}

.tyleft__btn {
  background: transparent linear-gradient(#25bed3, #00a5bc) repeat scroll 0 0;
  align-self: center;
  height: 1.875em;
  line-height: 1.875em;
  font-size: 1.335em;
}

.tyleft__btn__div {
  padding-top: 2vw;
}

.tyleft__btn__copy {
  color: #333333;
}

.am__rating {
  padding-bottom: .5vw;
  font-weight: bold;
}

.tyright {
  padding-left: 0;
}

.tyright__content {
  color: #666666;
}

.tyright__head {
  font-size: 2em;
  color: #df8d0c;
  font-weight: bold;
}

.tyright__mgn {
  margin: 0.5em 0;
}

.tyright__mgn__top {
  margin-top: 0.5em;
}

.tyright__fcopy {
  font-weight: bold;
}

.tyright__quotecall {
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .tyright__content {
    padding-top: 50px;
  }
}

.dynamic {
  color: #FF1200;
  font-weight: bold;
}

@media screen and (min-width: 37.5em) {
  .tybody {
    margin-top: 15px;
  }
}

.tynav {
  margin-top: 2em;
}

.tynav__icons {
  color: #8a898a;
}

.lmore {
  color: #fff;
  justify-content: space-between;
}

@media screen and (max-width: 37.4375em) {
  .lmore {
    font-size: 4.375vw;
    padding: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .lmore {
    font-size: 19px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1439px) {
  .lmore {
    font-size: 1.31944vw;
  }
}

.lmore__icongrey {
  width: 2.21053em;
  height: 2.21053em;
  margin-right: 0.73684em;
  flex: none;
}

@media screen and (min-width: 37.5em) {
  .lmore__icongrey {
    background-size: auto;
    background-repeat: no-repeat;
    /*IE10 and up*/
  }
}

@media screen and (min-width: 37.5em) and (-ms-high-contrast: active) {
  .lmore__icongrey__icongrey {
    background-size: auto !important;
  }
}

@media screen and (min-width: 37.5em) {
  .lmore__icongrey.icon1 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_What-is-Term-Life-Insurance.svg);
  }
  .lmore__icongrey.icon2 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_How-Much-Do-I-Need.svg);
  }
  .lmore__icongrey.icon3 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_How-Does-It-Work.svg);
  }
  .lmore__icongrey.icon4 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_The-SelectQuote-Difference.svg);
  }
  .lmore__icongrey.icon5 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Our-Blog.svg);
  }
  .lmore__icongrey.icon6 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Auto-Home-Medicare-Insurance.svg);
  }
  .lmore__icongrey.icon7 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Contact.svg);
  }
}

@media screen and (max-width: 37.4375em) {
  .lmore__icongrey {
    display: none;
  }
}

/*Mobile*/
.tymobile {
  color: #ffffff;
  width: 100%;
}

.tymobile__currency {
  font-size: 2.75em !important;
  line-height: 1.9;
}

.tymobile__ratebody {
  font-size: 5em;
}

.tymobile__mo {
  align-self: flex-end;
  font-size: 2em;
  line-height: 2.25;
}

.tymobile__pricing {
  margin: -2vw;
}

.tymobile__topcopy {
  font-size: 1.5em;
  margin-top: 4vw;
}

.tymobile__hii {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 4vw;
}

.tymobile__am {
  font-size: 1.25em;
}

.tymobile__am__rating {
  font-weight: bold;
  margin-bottom: 2vw;
}

.tymobile__qtyr {
  color: #fcc46c;
  margin-bottom: 3vw;
  font-size: 1.4em;
}

.tymobile__spratr {
  background-image: url("../images/mobile-seperator.png");
  height: 11.5625vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tymobile__btn {
  font-size: 1.5em;
}

.tymobile__btn__copy {
  text-align: center;
  font-size: 1.335em;
}

/*Progress Bar*/
.bs-wizard {
  margin: 5px 0;
  padding: 0 0 10px;
}

.container::before, .container::after {
  content: "";
  display: table;
  line-height: 0;
}

.container::after {
  clear: both;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.row::before, .row::after {
  content: "";
  display: table;
  line-height: 0;
}

.row::after {
  clear: both;
}

.row {
  display: flex;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 16px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}

.bs-wizard > .bs-wizard-step > .progress {
  border-radius: 0;
  box-shadow: none;
  height: 2px;
  margin: 20px 0;
  position: relative;
}

.bs-wizard .progress {
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .bar {
  width: 100%;
}

.bs-wizard > .bs-wizard-step > .progress > .bar {
  background: #df8d0c none repeat scroll 0 0;
  box-shadow: none;
  width: 0;
}

.progress .bar {
  background-color: #0e90d2;
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  box-sizing: border-box;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 100%;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  transition: width 0.6s ease 0s;
  width: 0;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot::after {
  background: #df8d0c none repeat scroll 0 0;
  border-radius: 50px;
  content: " ";
  height: 14px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot-disabled::after {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50px;
  content: " ";
  height: 14px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  bottom: 44px;
  width: 30px;
}

@-moz-document url-prefix() {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    bottom: 46px;
  }
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
  font-size: 14px;
}

.active {
  color: #df8d0c;
}

.inactive {
  color: #ffffff;
}

.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}

.col-xs-3.bs-wizard-step {
  width: 20%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .bar {
  width: 50%;
}

@media screen and (max-width: 796px) {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    bottom: 63px;
  }
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot-disabled {
    bottom: 63px;
  }
  @-moz-document url-prefix() {
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
      bottom: 66px;
    }
  }
  @-moz-document url-prefix() {
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot-disabled {
      bottom: 66px;
    }
  }
}

@media screen and (min-width: 37.5em) {
  .confirmation-remove {
    display: none;
  }
  div#Footer_lmoreGutWhite {
    background: #fff;
    border-top: 2px solid #ececec;
  }
}

.landing__h2 {
  color: #ffffff;
}

.landing__h2__mobile {
  font-size: 9.275vw;
  color: #ffffff;
  line-height: 1.25;
  margin: 4vw 0;
}

.landing__h3 {
  color: #000000;
  font-size: 1.325em;
  font-weight: normal;
  margin-top: 1vw;
}

.landing__h3__mobile {
  margin: 0 0 2vw;
}

.landing__h4 {
  color: #000000;
  font-size: 1.325em;
  font-weight: normal;
  padding-bottom: 1em;
}

.landing__copy {
  width: 51%;
}

.landing__btn {
  color: #ffffff;
  background: -moz-linear-gradient(top, #1d9fb3 0%, #1d9fb3);
  background: -ms-linear-gradient(top, #1d9fb3 0%, #1d9fb3 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1d9fb3), to(#1d9fb3));
  border: 0px solid #134201;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: -webkit-gradient(linear, left top, left bottom, from(#1d9fb3), to(#1d9fb3));
  border: -moz-linear-gradient(top, #1d9fb3 0%, #1d9fb3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 4px 4px 2px #65bdc9, inset -4px -4px 2px #06545e;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 4px 4px 2px #65bdc9, inset -4px -4px 2px #06545e;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 4px 4px 2px #65bdc9, inset -4px -4px 2px #06545e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
  height: 1.75em;
  line-height: 1.75em;
  font-size: 2em;
  padding: 0 1.5em;
  margin: 2.5vw 0 2.5vw;
}

.landing__quote {
  background: url(../images/landing-quote-bg.png) no-repeat center center/cover;
  width: 9.769em;
  height: 10em;
  right: 14vw;
  top: 10vw;
}

.landing__carriers {
  margin: 0 0.5vw;
}

.landing__carriers__div {
  padding: 2em 0;
}

@media screen and (max-width: 37.4375em) {
  .landing__companies {
    background-color: #ffffff;
  }
}

.landing__img {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .landing__img {
    height: 100%;
  }
}

.landing__logo__copy {
  width: 100%;
  display: inline;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .landing__logo__copy {
    height: 100%;
  }
}

@media screen and (min-width: 37.5em) {
  .mbg-landing {
    background-image: url(../images/landing-header.jpg) !important;
  }
}

.checklist__header {
  padding: 15px 30px;
}

.checklist__example {
  font-size: .8em;
  color: #c27e02;
}

.checklist__example__blue {
  color: #027e8f;
}

.checklist__example__white {
  color: #fff;
  width: 100%;
  text-align: center;
}

.checklist__example__amount {
  color: #744b00;
  text-align: center;
  width: 100%;
}

.checklist__speak {
  font-weight: 600;
}

.checklist__speak__phone {
  color: #00a5bc;
}

.checklist__left {
  padding: 25px 30px;
  width: 70%;
}

@media screen and (min-width: 37.5em) {
  .checklist__left {
    width: 70%;
  }
}

.checklist__download {
  color: #eaa321;
  padding: 0px 30px;
}

.checklist__download a {
  text-decoration: underline;
  font-weight: 600;
}

.checklist__download span {
  font-weight: 600;
}

.checklist__right {
  width: 30%;
  padding: 20px 30px 0 1vw;
}

.checklist__right img {
  width: 90%;
}

.checklist__right__topcopy {
  margin-top: 0px;
}

.checklist__list {
  height: 75px;
}

.checklist__list__number {
  width: 6%;
  background: #eaa321;
  color: #fff;
  border-bottom: 1px solid #ffffff;
}

.checklist__list__grey {
  background: #eeeeee;
  width: 69%;
  color: #00a5bc;
  padding: 0 1.5em;
  font-size: 1em;
}

.checklist__list__questions {
  width: 69%;
  color: #00a5bc;
  padding: 0 1.5em;
  font-size: 1em;
  border-bottom: 1px solid #eaa321;
}

.checklist__list__questions__top {
  border-top: 1px solid #eaa321;
  width: 69%;
  color: #00a5bc;
  padding: 0 1.5em;
  font-size: 1em;
  border-bottom: 1px solid #eaa321;
}

.checklist__list__example {
  width: 25%;
  background: #eaa321;
  border-bottom: 1px solid #fff;
}

.checklist__nav {
  background: #00a5bc;
  width: 100%;
  color: #ffffff;
  height: 56px;
}

.checklist__nav h1 {
  font-size: 1.5em;
  font-weight: normal;
}

.checklist__container {
  width: 100%;
  background: #ffffff;
  font-size: 1.125em;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 37.4375em) {
  .checklist__left {
    width: 100%;
    padding: 25px 0px;
  }
  .checklist__header {
    padding: 15px 0;
  }
  .checklist__download {
    padding: 15px 0;
  }
  .checklist__right {
    width: 100%;
    padding: 0 0 30px 0;
  }
  .checklist__list__grey {
    padding: 0 .5em;
  }
  .checklist__list__questions {
    padding: 0 .5em;
  }
  .checklist__list__questions__top {
    padding: 0 .5em;
  }
  .checklist__list__number {
    width: 7%;
  }
}

.blue {
  background: #00a5bc;
}

.blue__bot {
  background: #00a5bc;
  border-bottom: none;
}

.copy__link {
  color: #00a5bc;
}

input#HeaderSubPages_userInput {
  width: 100%;
  border: none;
}

h2 {
  color: #00a5bc;
  font-size: 1.44em;
  font-weight: normal;
}

.nb {
  border: none;
}

.lmore {
  justify-content: space-between;
}

@media screen and (max-width: 37.4375em) {
  .lmore {
    font-size: 4.375vw;
    padding: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .lmore {
    font-size: 19px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1439px) {
  .lmore {
    font-size: 1.31944vw;
  }
}

.lmore__icongrey {
  width: 2.21053em;
  height: 2.21053em;
  margin-right: 0.73684em;
  flex: none;
}

@media screen and (min-width: 37.5em) {
  .lmore__icongrey {
    background-size: auto;
    background-repeat: no-repeat;
    /*IE10 and up*/
  }
}

@media screen and (min-width: 37.5em) and (-ms-high-contrast: active) {
  .lmore__icongrey__icongrey {
    background-size: auto !important;
  }
}

@media screen and (min-width: 37.5em) {
  .lmore__icongrey.icon1 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_What-is-Term-Life-Insurance.svg);
  }
  .lmore__icongrey.icon2 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_How-Much-Do-I-Need.svg);
  }
  .lmore__icongrey.icon3 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_How-Does-It-Work.svg);
  }
  .lmore__icongrey.icon4 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_The-SelectQuote-Difference.svg);
  }
  .lmore__icongrey.icon5 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Our-Blog.svg);
  }
  .lmore__icongrey.icon6 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Auto-Home-Medicare-Insurance.svg);
  }
  .lmore__icongrey.icon7 {
    background-image: url(../images/Life-Web_Menu-Icons-Grey_Contact.svg);
  }
}

@media screen and (max-width: 37.4375em) {
  .lmore__icongrey {
    display: none;
  }
}

@media screen and (min-width: 37.5em) {
  div#HeaderSubPages_lmoreGutWhite {
    background: #fff;
  }
  .lmore-Grey-Copy {
    color: #8a898a;
  }
}

/*

	CSS to go at very btttom
=====================================*/
@media screen and (max-width: 37.4375em) {
  .mbg {
    background-image: none;
  }
  .p-xs {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  .df-xs,
  .dfc-xs {
    display: flex;
  }
  .fw-xs {
    flex-wrap: wrap;
  }
  .fdr-xs {
    flex-direction: row;
  }
  .fdc-xs,
  .dfc-xs {
    flex-direction: column;
  }
  .od-xs-1 {
    order: 1;
  }
  .od-1-xs {
    order: 1;
  }
  .od-xs-2 {
    order: 2;
  }
  .od-2-xs {
    order: 2;
  }
  .od-xs-3 {
    order: 3;
  }
  .od-3-xs {
    order: 3;
  }
  .br-xs {
    flex-basis: 100%;
  }
  .wf-xs {
    width: 100%;
  }
  .m0a-xs {
    margin: 0 auto;
  }
}

.dfc.od-xs-2 {
  width: 100%;
}

/*

	Print styles
================================================
*/
@media print {
  * {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important;
  }
  html {
    background-color: #fff;
  }
  nav {
    display: none;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  a[href] {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
    border: none;
  }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  figure {
    margin-bottom: 1em;
    overflow: hidden;
  }
  figure img {
    border: 1px solid #000;
  }
}


.widget-container { width: 100%; background: #ffffff; font-size: 18px; font-family: 'Open Sans', sans-serif; }
.widget-container form { margin-bottom: 0; }

.widget-container.show-1 section.page-1,
.widget-container.show-2 section.page-2,
.widget-container.show-3 section.page-3,
.widget-container.show-4 section.page-4,
.widget-container.show-5 section.page-5,
.widget-container.show-6 section.page-6 { display: block; }
.widget-container section { position: relative; height: auto; display: block; display: none; padding: 15px 30px; }

.widget-container nav ul li.error .progress { border-color: #ff0000 !important; color: #ff0000 !important; }

.widget-container nav .page-1 .progress,
.widget-container.show-2 nav .page-2 .progress,
.widget-container.show-3 nav .page-2 .progress,
.widget-container.show-3 nav .page-3 .progress,
.widget-container.show-4 nav .page-2 .progress,
.widget-container.show-4 nav .page-3 .progress,
.widget-container.show-4 nav .page-4 .progress,
.widget-container.show-5 nav .page-2 .progress,
.widget-container.show-5 nav .page-3 .progress,
.widget-container.show-5 nav .page-4 .progress,
.widget-container.show-5 nav .page-5 .progress,
.widget-container.show-6 nav .page-2 .progress,
.widget-container.show-6 nav .page-3 .progress,
.widget-container.show-6 nav .page-4 .progress,
.widget-container.show-6 nav .page-5 .progress,
.widget-container nav .page-changer:hover { border-color: #6cdfef; color: #6cdfef; }

.widget-container .top-nav { background: #00a5bc; width: 100%; color: #ffffff; height: 56px; }
.widget-container .top-nav h1 { font-size: 1em; margin: 0; float: left; width: 320px; height: 40px; line-height: 20px; padding: 10px 0; text-align: center; border-right: 1px solid #76c7d2; margin: 8px 0; }
.widget-container .top-nav nav { float: left; padding-top: 21px; margin-left: 100px; }
.widget-container .top-nav nav ul { list-style: none; margin: 0; padding: 0; }
.widget-container .top-nav nav ul li { float: left; width: 130px; text-align: center; margin-right: -65px; position: relative; text-transform: uppercase; font-weight: bold; font-size: 0.55em; }
.widget-container .top-nav nav ul li a { color: inherit; text-decoration: none; display: block; padding-top: 12px; }
.widget-container .top-nav .line { display: block; height: 2px; border-top: 2px solid #ffffff; }
.widget-container .top-nav .circle { display: block; height: 10px; width: 10px; border: 2px solid #ffffff; position: absolute; left: 50%; margin-left: -7px; top: -6px; border-radius: 7px; background: #00a5bc; z-index: 10; }

.widget-container section { height: 454px; position: relative; }
.widget-container section h2 { font-weight: 100; text-align: center; font-size: 1.8em; color: #323232; }
.widget-container section .question-container-wrapper { padding-top: 20px; }
.widget-container section .question .label-container { color: #00a5bc; display: inline-block; margin-left: 100px; width: 600px; padding-bottom: 46px; vertical-align: top; font-weight: 600; }
.widget-container section .question .select-container { display: inline-block; width: 320px; margin-left: 80px; }
.widget-container section .question .input-container { display: inline-block; width: 320px; margin-left: 80px; }
.widget-container section .question .slide.ui-slider-horizontal { border: 0; height: 30px; }
.widget-container section .question .slide.ui-slider-horizontal:before { content: ''; display: block; height: 2px; width: 100%; background: #b3b4b3; position: absolute; top: 50%; left: 0; margin-top: -1px; }
.widget-container section .question .slide .ui-slider-handle { outline: none; background: #df8d0c; border: 5px solid #ffffff; border-radius: 20px; height: 30px; width: 30px; top: -5px; margin-left: -20px; }
.widget-container section .question .slide .ui-slider-handle .text { position: absolute; top: 34px; color: #df8d0c; width: 200px; left: 50%; margin-left: -100px; text-align: center; font-size: 0.9em; font-weight: 600; }

.widget-container section .question .child-container { display: inline-block; width: 325px; margin-left: 75px; }
.widget-container section .question .child { display: inline-block; width: 50px; margin-left: 4px; }
.widget-container section .question .child .select-container { margin: 0; width: 100%; position: relative; background: #ededed; border: 0; border-radius: 5px; padding: 0; height: 45px; }
.widget-container section .question .child .select-container .select-value { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; text-align: center; line-height: 45px; }
.widget-container section .question .child .select-container select { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 45px; background: transparent; -webkit-appearance: none; border: 0; color: #df8d0c; padding-left: 5px; font-size: inherit; opacity: 0; }
.widget-container section .question .child .select-container.error { background-color: #ea7171; color: #fff; }
.widget-container section .question .child .school { display: none; }

.widget-container section .question .input-container.percent .ui-slider-handle .text:after { content: '%'; }
.widget-container section .question .input-container.money .ui-slider-handle .text:before { content: '$'; }

.widget-container section .results { text-align: center; }
.widget-container section .results .single { display: inline-block; width: 400px; height: 120px; }
.widget-container section .results .single h3 { color: #00a5bc; font-weight: bold; font-size: 1em; margin: 0; }
.widget-container section .results .single span { font-weight: 100; font-size: 60px; white-space: nowrap; }
.widget-container section .results p { color: #8a898a; font-size: 0.9em; text-align: left; padding: 20px 90px; margin: 0; }

.widget-container section .question.hide { display: none; }

.widget-container .highlight { width: 174px; height: 20px; padding: 10px; text-align: center; line-height: 20px; border: 3px solid #00a5bc; border-radius: 23px; box-sizing: content-box; outline: none; color: #00a5bc; background: transparent; font-weight: 600; font-size: inherit; text-decoration: none; display: block; position: absolute; bottom: 15px; left: 50%; margin-left: -100px; }

.widget-container .bot-links { text-align: center; padding-bottom: 20px; height: 40px; }
.widget-container .bot-links a { color: #8a898a; font-size: 13px; line-height: 20px; }

.widget-container .page-4 .question-container-wrapper { padding-top: 50px; }

.widget-container .clear { clear: both; }

@media (max-width: 1320px) {
    .widget-container section .question .label-container { margin-left: 1%;}
}
@media (max-width: 1190px) {
    .question { display: flex; }
    .widget-container section {  height: 100%;}
    .calculator-form {height: 530px;}
    .widget-container .top-nav nav {margin-left: 0;}
    .widget-container section .question .label-container { width: 50% }
}
@media (max-width:1080px) {
    .widget-container .top-nav nav ul li { width: 120px;}
}
@media (max-width: 950px) {
    .widget-container .top-nav h1 { width: 220px;}
    .widget-container section .results .single {padding-left: 10px;  padding-right: 10px;  width: auto;}
    .calculator-form {height: 600px;}
    .bot-links-clear { font-size: 8pt;}
}
@media (max-width: 840px) {
    .widget-container .top-nav nav { display: none;}
    .widget-container .top-nav h1 { border-right: none; width: 100%;}
    .widget-container section h2 { font-size:1.5em}
    .widget-container section .results p { font-size: 0.8em}
}

@media (max-width: 800px) {
    .calculator-form {height: 700px;}
    .widget-container section .results .single { width: 100%; }
    .widget-container .highlight { position: relative; top: 5px;}
}
@media (max-width: 600px) {
    .question {  display: block;padding-bottom:50px;}
    .widget-container section .question .label-container { width: 100% }
    .widget-container section .question .label-container { padding-bottom: 30px; text-align:center;}
    .widget-container section .results p { padding: 0; padding-bottom: 20px;}
    .calculator-form {height: 850px;}
    .widget-container section h2 > br { display: none; }
}

@media (max-width: 500px) {
    .widget-container section .question .select-container { margin-left: 10px;}
    .widget-container section .question .child-container {margin-left: 10px;}
    .widget-container section .question .input-container {margin-left: 10px;}
    .calculator-form {height: 900px;}
    .widget-container section .results p { text-align: center;}
}

@media (max-width: 400px) {
        .widget-container section .question .select-container { width: 200px;}
        .widget-container section .question .input-container { width: 200px;}
    .widget-container section .question .select-container { margin-left: 40px;}
    .widget-container section .question .input-container { margin-left: 40px;}
    .calculator-form {height: 950px;}
    .widget-container section .question .child-container { margin-left: 0; width: auto;}
    .number-result.primary-text {font-size: 45px !important;}
}

@media (max-width: 350px) {
        .widget-container section .question .select-container { width: 200px;}
    .widget-container section .question .select-container { margin-left: 0;}
    .widget-container section .question .input-container {width: 200px; margin-left: 0;}
    .calculator-form {height: 1000px;}
}
@media (max-width: 330px) {
    .calculator-form {height: 1070px;}
    .number-result.primary-text {font-size: 34px !important;}
}

.basicInfo__header{
  height: 70%;
  /*font-size: 15px;*/
  background-color:#E5E5E5;
}
.FirstName{
  /*width: 50%;*/
margin-left: 15%;
}
.lastName{
      margin-right: 112px;
    margin-left: -60px;
}
.icondiv{
    margin-top: 50px
}
.footer2{
    margin: 0 0 10px;
    float: left;
    font-size: 13px;
    color: #888;
    padding-top: 10px;
}
.icon-addon{
    color: #f5f5f5;
    float: left;
    padding: 9px;
    width: 16%;
    background: #0d2e3c;
    text-align: center;
    margin-right: 3px;
    margin-left: 10px;
}
.icon a{
    color: #fff;
}
.hr{
  /*margin-top: 20px;*/
    margin-bottom: 20px;
    border: 1;
    border-top: 1px solid rgba(0,0,0,0.12);
}
.user_icon_fname{
    font-size: 30px;
    padding: 24px 19px 15px 240px;
    color: palevioletred;
  }
  .user_icon_lname{
    font-size: 30px;
    padding: 25px 167px 17px 121px;    
    color: palevioletred;
  }

.img-circle{
    height: 77px;
    width: 79px;
    margin-left: 10px;
}
.DOB_icon{
  font-size: 30px;
    padding: 23px 167px 17px 170px;    
    color: palevioletred;
}
.email_icon{
    font-size: 30px;
    padding: 23px 167px 17px 54px; 
    color: palevioletred;
}
.mobile_icon{
    font-size: 45px;
    padding: 24px 151px 30px 269px;
    color: palevioletred;
}
.zip_icon{
    font-size: 42px;
    padding: 24px 137px 31px 25px;
    color: palevioletred;
}




/*.user-info {
    display: table-cell;
    width: 613px;
    text-align: left;
    padding: 35px 0 35px 21px;
}*/
/*.user-info-1 {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0 0 0 40px;
}*/
.ud-1.ud-2 {
    background: ;
    display: table-cell;
}
/*.cover-input {
    position: relative;
}*/

.ccform {
    margin: 0 auto;
    width: 800px;
    margin-top: 4%;
}
.ccfield-prepend{
    margin-bottom:10px;
    width:100%;
}
.small-text{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    display: block;
    line-height: 24px;
    padding: 14px 0 0 0;
    width: 343px;
    display: table;
    margin: 0 auto;
}
.ccform-addon {
    color: #f5f5f5;
    float: left;
    padding: 11px;
    width: 7%;
    background: #db7093;
    text-align: center;
    margin-right: 4px;
    margin-left: 23px;

}

.ccformfield {
    color:#000000; 
    background:rgb(238,238,238);
    border:none;
    padding:15.5px;
    width:47%;
    display:block;
    font-family: 'Lato',Arial,sans-serif;
    font-size:14px;
    margin-left: -20px;

}

.ccformfield {
    font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
    display: block;
    border: none;
    background: #ff4081;
    color: #FFFFFF;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    /*margin-left: 105px;*/
    margin-top: 20px;
    border-radius: 2px;
    width: 250px;
    margin-bottom: 16px;
    margin-left: 20%;

}
.ccbtn:hover{
    background:#1d3c76;

}
.credit {
  width: 800px;
  clear:both;
    margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #000;
font-weight: bold;
text-decoration: none;
}
.terms-text{
  color: #77787b;
  font-weight:200;
}
.get_qoutes{
    display: inline-block;
    position: relative;
    background-color: #337ab7;
    font-weight: 600;
    color: #fff;
    border-radius: 7px;
    padding: 0 2.5em;
    margin: 0;
    height: 50px;
    line-height: 2.875em;
    width: 179px;
    border: none;
    margin: 19px 125px 35px 47%;
  }
.Gender{
    font-size: 20px;
    color: #fff;
    font-style: bold;
    font-stretch: extra-expanded;
    font-weight: bold;
    margin-left: -50px;
  }


.wrapper{
   /*margin-left: 12%;*/
    margin-top: 7%;
}
.privacy{
    text-align: center;
    margin-left: 20%;
    margin-top: 2%;
    color: #00a5bc;
    font-stretch: condensed;
    font-weight: 400;
  }

button:disabled,
button[disabled]{  
  opacity: 0.5;
}


  /* side bar stuff here*/

  .charms-body{
    background-color: #fff;
    /*width: 7%;*/
    position: fixed;
    z-index: 10;
     /*position: absolute;*/
    /*top: 0;*/
    left: 0;
    /*bottom: 0;*/
  }
   /*.charms-open{
   
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}*/

.sidebar_icon{
    font-size: 30px;
    color: #00a5bc;
    margin-top: 5px;
}
.ul_style{
  list-style: none;
}
.list_style{
    border-bottom: 1px solid;
    padding-left: -25px;
    height: 44px;
    width: 121px;
    padding: 3px 3px 47px 1px;
  }
  .charms-open{
    width: 22px;
    height: 35px;
    background: #fff;
    margin-bottom: 33px;
    margin-left: 12%;
    position: fixed;
    z-index: 10;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }

  .charms li a {
    padding: 15px 6px 5px;
    height: 73px;
}
.charms li a {
    background-color: #fff;
    z-index: 10;
}
.charms li, .charms li a {
    position: relative;
}
.charms li a {
    color: #4d4d4f;
    padding: 18px 12px 5px 16px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    transition: all .3s ease;
}
.charms li, .charms li a {
    display: inline-block;
    width: 100%; 
}
.charms li a:focus, a:hover {
    text-decoration: none;
    background-color: ;

}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}

.icon-addon a:hover{
  background-color: red;
}

label input {
  display: none;/* <-- hide the default checkbox */
}
label span {/* <-- style the artificial checkbox */
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}
[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top: -8px;
  left: 0;
  color: #ff4081;
}
.Terms_txt{
    color: #00a5bc;
    font-size: 13px;
  }
  .user_form{
    margin-top:3%;
  }






/* bootstarp wizard start here*/

.btn1{
	display: block;
    text-align: center;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: hidden;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    padding: 16px;
    width: 91%;
    position: relative;
    background: #2f9ee9;
    border-bottom: 3px solid #257eba;
    margin-bottom: 16px;
    text-transform: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    letter-spacing: 0.02em;
    margin-left:10%;
}
.btn2 {
    display: block;
    text-align: center;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: hidden;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    padding: 20px;
    width: 62%;
    position: relative;
    background: #2f9ee9;
    border-bottom: 3px solid #257eba;
    margin-bottom: 16px;
    text-transform: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    letter-spacing: 0.02em;
    /* margin-left: 10%; */
    border-radius: 6px;
}