﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div ng-app="app" ng-controller="homecontroller">
    @*<header class="header encase df aife">

        <div class="placeholder">
            <br>
        </div>
        <a href="#" class="header__logo  header__logo__color">
            <img src="~/img/LOGO FINAL TRUDOVA.png" style="width: 85%;height: 151%;margin-top: -9px;" />

        </a>


        <div class="df aic mla hide-xs" hide-xs="">
            <div class="header__cta df fw aife jcfe">*@
                <!-- <span class="header_cta_copy">Speak to a Licensed Life Insurance Agent</span> -->
                @*<span id="MainContent_Header_ctaPhone" class="header__cta__phone">1-866-671-3184</span>
                <span class="header__cta__bar fw-sb">|</span>
            </div>
            <div class="header__search pr">
                <div class="header__search__bg df aic jcfe">
                    <input class="header__search__input fn" type="text" value="">
                    <button class="header__search__btn" type="button" name="button"></button>
                </div>
            </div>
        </div>
        <a href="tel:1-866-433-8186" id="MainContent_Header_ctaPhoneMobile"><div class="mbi-ico hide show-xs" hide="" show-xs=""></div></a>
    </header>*@
    <div class="container-fluid no-marg no-pad fixed-page" ng-class="{'fixed-page':history===false}">
        <div id="progressDiv">
            @*<img src="~/Content/Images/ajax-loader.gif" class="ajax-loader" />*@
        </div>
        <div tabindex="-1" id="bypassRegion" ng-view>

        </div>
    </div>
    <div class="footr--encase df fdc-xs" style="width:127%;margin-left: 10px">
        <div class="footr__left df fdc-xs">
            <div class="footr__copy dfc">
                <h4 class="footr__h4 fw-sb">INSURANCE PLANS</h4>
                <p class="footr__p"><a href="javascript:void(0)"> Simplified Issue Term Life</a></p>
                <p class="footr__p"><a href="javascript:void(0)">Full Term Life</a></p>
                <p class="footr__p"><a href="javascript:void(0)">Final Expense Whole Life</a></p>

            </div>

            <div class="footr__copy dfc">
                <h4 class="footr__h4 fw-sb">ABOUT US</h4>
                <p class="footr__p"><a href="javascript:void(0)"> About Trudova</a></p>
                <p class="footr__p"><a href="javascript:void(0)">Contact Us</a></p>
                <p class="footr__p"><a href="javascript:void(0)">Careers</a></p>
            </div>
            <div class="icondiv col-md-4 col-sm-4">
                <a href="javascript:void(0)"><span class="icon-addon"><i class="fa fa-facebook-square fa-2x"></i></span></a>
                <a href="javascript:void(0)"><span class="icon-addon"><i class="fa fa-twitter fa-2x"></i></span></a>
                <a href="javascript:void(0)"><span class="icon-addon"><i class="fa fa-google-plus fa-2x"></i></span></a>
                <a href="javascript:void(0)"><span class="icon-addon"><i class="fa fa-linkedin fa-2x"></i></span></a>
                <div class="footer2">
                    <p>© 2016 Trudova. All rights reserved.</p>
                    <p>Our services are subject to our <a href="javascript:void(0)"><span class="Terms_txt">Terms and Privacy Policy.</span></p>
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/appdependencies")